<%= content_for(:title)       { t ".title", city: @city['name'] }       %>
<%= content_for(:description) { t ".description" } %>

<div class='apply-form-overlay'>
  <%= react_component 'ApplyForm', {
    city_groups: @city_groups
    cities: @applicable_cities,
    city: @city,
    token: form_authenticity_token,
    apply_path: send(:"apply_#{I18n.locale}_path", ':city'),
    locale: I18n.locale,
    i18n: {
      title: t(".apply"),
      apply_btn: t(".apply_btn"),
      please_wait: t(".please_wait"),
      course_language: t(".course_language"),
      language_fr: t(".language_fr"),
      language_en: t(".language_en"),
      :"language_pt-BR" => t(".language_pt-BR"),
      price: t('.price'),
      page_title: t('.title')
    },
    rows: [
      apply_row(:first_name, :text, t(".first_name"), "Alan", "account"),
      apply_row(:last_name, :text, t(".last_name"), "Turing", "format-text"),
      apply_row(:age, :text, "Age", "42", "crown"),
      apply_row(:email, :email, "Email", "alan@turing.com", "email-open"),
      apply_row(:phone, :tel, t(".phone"), "+33612345678", "cellphone-iphone"),
      apply_row(:source, :text, t(".source"), t(".source_placeholder"), "tag"),
      apply_row(:motivation, :textarea, "Motivation", t(".motivation"), "content-paste")
    ]
  }, prerender: prerender? %>
</div>
