<%= content_for(:title) { "Le Wagon HEC - Postuler"} %>
<%= content_for(:headers) do %>
  <meta name="robots" content="noindex">
<% end %>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 hec">
      <% if @application.errors.any? %>
        <div class="errors">
          Désolé, votre candidature n'a pu être prise en compte. Merci de jeter un oeil au formulaire ci-dessous.
        </div>
      <% else %>
        <!--
        <div class="intro">
          <p>
            HEC et Le Wagon proposent en exclusivité une track <i>FullStack Entrepreneur</i> limitée à <strong>8 étudiants</strong>.
            <!--Cette track se déroulera dans les locaux du Wagon Perchoir, au <a href="https://www.google.fr/maps/place/14+Rue+Crespin+du+Gast,+75011+Paris/@48.8660032,2.3780234,16.14z/data=!4m5!3m4!1s0x47e66df1d595cf1d:0x3941de3db62c8c37!8m2!3d48.8654569!4d2.3820249" target="_blank">14 Crespin du Gast</a> et du Wagon Gaudelet, au <a href="https://www.google.fr/maps/place/Le+Wagon/@48.8648515,2.3776643,17z/data=!3m1!4b1!4m5!3m4!1s0x47e66df010ec3bff:0x6b419acfa77236a0!8m2!3d48.864848!4d2.379853?hl=fr" target="_blank">16 Villa Gaudelet</a>, dans le XI<sup>ème</sup>. - ->
            La formation se déroulera du 29 janvier au 30 mars 2018.
          </p>
          <p>
            Nous appliquerons la règle du <strong>premier arrivé, premier servi</strong> pour les candidatures.
          </p>
          <p>
            Votre <em>username</em> <a href="https://www.codecademy.com/">CodeCademy</a> est demandé ci-dessous dans le formulaire, pour le récupérer,
            <a href="https://www.codecademy.com/profiles/me" target="_blank">cliquez ici</a> et regardez l'URL vers laquelle vous êtes redirigé(e)s. Un pré-requis est de terminer 100% du tutoriel Ruby avant de démarrer la formation.
          </p>
        </div>
        -->

        <div class="intro">
          Les inscriptions à la track FullStack Le Wagon/HEC sont maintenant clôturées pour l'année 2017/2018.
        </div>
      <% end %>

      <%#= react_component 'HecApplyForm', {
        token: form_authenticity_token,
        apply_path: hec_apply_path,
        locale: I18n.locale,
        banner: image_path("officials/pair-programming.jpg"),
        price: "1500 € (le reste est pris en charge par HEC)",
        i18n: {
          please_wait: t("applies.new.please_wait"),
          price: t('applies.new.price')
        },
        rows: [
          apply_row(:first_name, true, :text, t("applies.new.first_name"), "Alan", "account", 1),
          apply_row(:last_name, true, :text, t("applies.new.last_name"), "Turing", "format-text", 2),
          apply_row(:codecademy_username, false, :text, t("applies.new.codecademy_username"), "alan_turing", "format-text", 3),
          apply_row(:age, true, :text, "Age", "42", "crown", 4),
          apply_row(:email, true, :email, "Email", "alan@turing.com", "email-open", 5),
          apply_row(:phone, true, :tel, t("applies.new.phone"), "+33612345678", "cellphone-iphone", 6),
          apply_row(:motivation, true, :textarea, "Motivation", t("applies.new.motivation"), "content-paste", 7)
        ]
      }, prerender: prerender? %>
    </div>
  </div>
</div>

