<%= link_to "New Aperotalk", new_admin_live_path(category: 'aperotalk'), class: 'btn btn-primary pull-right', style: 'margin-left: 1em' %>
<%= link_to "New Demoday", new_admin_live_path(category: 'demoday'), class: 'btn btn-default pull-right' %>

<div class="clearfix" style="height: 5em"></div>

<table class="table table-striped">
  <% @lives.each do |live| %>
    <tr data-live-id="<%= live.id %>">
      <%= render 'live', live: live %>
    </tr>
  <% end %>
</table>
