#alumni {
  background-color: HSLA(0, 0%, 96%, 1);
  margin-top: -230px;
  padding-top: 200px;
}

#alumni-home {
  background-color: HSLA(0, 0%, 96%, 1);
}

.students-index {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 850px;
    top: 110px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(255,255,255,1) 3%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,1) 90%), asset-url('banners/banner-alumni.jpg');
    background-size: cover;
    z-index: 0;
  }

  h1 {
    position: relative;
    margin: 100px auto 160px;
    max-width: 620px;
    text-align: center;
    z-index: 10;

    @media (max-width: 624px) {
      padding: 0 20px;
      //margin-bottom: 60px;
      text-align: center;
      font-size: 34px;
    }
  }

  .stories-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
    min-height: 300px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 10;

    @media (max-width: 767px) {
      border-radius: 0;
    }

    // Slice by 2
    .stories-bundle {
      display: flex;

      @media (max-width: 1200px) {
        flex-direction: column;
      }

      &:nth-child(even) {
        .story-container {
          &:nth-child(1) {
            display: flex;
            order: 2;
          }

          &:nth-child(2) {
            display: flex;
            order: 1;
          }
        }
      }

      // Make first slice child 1/3
      .story-container {
        position: relative;
        margin: 0;
        padding: 30px;
        max-width: 100%;
        height: 330px;
        background-size: cover;

        @media (max-width: 767px) {
          background-position: right;
        }

        main {
          position: relative;
          height: 100%;
          z-index: 10;
        }

        .story-card-title {
          color: white;

          @media (max-width: 625px) {
            font-size: 24px;
          }
        }

        .story-card-summary {
          opacity: 0;
          transition: all 0.1s ease;

          @media (max-width: 1200px) {
            opacity: 0.8;
          }

          @media (max-width: 625px) {
            opacity: 0;
          }
        }

        .story-card-footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          font-size: 14px;

          .story-company-logo {
            width: 65px;
            border-radius: 50%;
            transform: scale(0.7);
            transition: all 0.3s ease-in-out;
            box-shadow: 0 1px 6px 0px rgba(0,0,0,0.2);
          }

          .story-user-avatar {
            @media (max-width: 420px) {
              display: none;
            }
          }

          .story-banner-infos {
            @media (max-width: 420px) {
              font-size: 12px;
            }
          }
        }

        .story-card-link {
          z-index: 15;
        }

        &:nth-child(odd) {
          width: 100%;

          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.2) 45%);
            z-index: 0;
          }

          @media (min-width: 1200px) {
            width: 34%;
            background-image: none !important;
            border-bottom: 2px solid rgba(106, 216, 106, 0.55);

            &:after {
              display: none;
            }
          }

          .story-card-title {
            width: 50%;

            @media (min-width: 1200px) {
              width: 100%;
              color: #222;
            }

            @media (max-width: 625px) {
              width: 70%;
            }

            @media (max-width: 420px) {
              width: 100%;
            }
          }

          .story-card-summary {
            @media (max-width: 1200px) {
              width: 50%;
              color: white;
              transition: all 0.3s ease;
            }

            @media (max-width: 625px) {
              width: 100%;
            }
          }

          .story-card-footer {
            @media (max-width: 1200px) {
              color: white;
            }
          }

          &:hover {

            .story-card-summary {
              opacity: 0.8;
            }

            .story-company-logo {
              transform: scale(0.9);
            }
          }
        }

        &:nth-child(even) {
          position: relative;
          width: 100%;

          @media (min-width: 1200px) {
            width: 67%;
          }

          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.2) 45%);
            z-index: 0;
          }

          &:hover {

            .story-card-summary {
              opacity: 0.8;
            }

            .story-company-logo {
              transform: scale(0.9);
            }
          }

          .story-card-title {
            width: 50%;

            @media (max-width: 625px) {
              width: 70%;
            }

            @media (max-width: 420px) {
              width: 100%;
            }
          }

          .story-card-summary {
            width: 50%;
            color: white;
            transition: all 0.3s ease;

            @media (max-width: 625px) {
              width: 100%;
            }
          }

          .story-card-footer {
            color: white;
          }
        }
      }
    }
  }

  #paginator,
  #paginator-testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .more-stories {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 65px;
      color: #a2a2a2;
      font-weight: 600;

      &:hover {
        text-decoration: none;
        color: #000;
      }
    }

    .more-testimonials {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 30px;
      margin-top: 40px;
      max-width: 220px;
      font-size: 16px;
      font-weight: 900;
      color: #7c7c7c;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
      background: white;
      text-decoration: none;
      font-size: 14px;
    }
  }
}