#location {
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  height: auto;

  .banner-content {
    flex: 0 1 800px;
    text-align: left;
  }
  h2 {
    font-size: 40px;
    font-weight: $font-weight-bold;
    margin-bottom: 40px;
    text-align: left;
    margin-top: 0;
  }
  span {
    font-size: 25px;
    font-weight: 100;
    line-height: 46px;
    margin-left: 5px;
    margin-top: -9px;
    position: relative;
    top: -2px;
    opacity: 0.8;
  }
  button {
    margin-top: 20px;
  }
}

.location-tab-overlay {
  position: relative;
  z-index: 9;
}

.location-content {
  p {
    font-size: 22px;
    text-align: left;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);

    a {
      color: white;
      text-decoration: underline;
      color: rgba(255, 255, 255, 0.8);
    }
    a:hover {
      color: rgba(255, 255, 255, 1);
    }
  }
  margin-bottom: 3em;
}

#staff {
  background-color: HSLA(0, 0%, 96%, 1);
  padding-bottom: 50px;
}
.ta-card {
  h4 {
    font-size: 15px;
  }
  img {
    width: 80px;
    height: 80px;
  }
}

.location-overlay {
  background: whitesmoke;
  padding-bottom: 100px;
}

#banner-city {
  height: 100vh;
}

.apprentices {
  position: relative;
  top: -30px;
}

.location-google-maps-link {
  opacity: .8;
  &:hover {
    opacity: 1;
    text-decoration: none;
    color: white;
  }
}
#staff a {
  color: $blue !important;
  &:hover {
    color: $blue !important;
    text-decoration: inherit;
  }
}

.specifics {
  background: whitesmoke;
  font-size: 19px;
  line-height: 25px;
  font-weight: 100;
}

.next-batch {
  margin: 120px auto;
  font-size: 19px;

  a {
    color: $red;
  }
}

.cities-show {
  .testimonials-services {
    padding: 0
  }

  .quote-overlay,
  .section-title-home-content {
    background-color: #fff;
  }
}
