.pages-lemoisducode {

  &:before {
    content: '';
    width: 100%;
    height: 660px;
    z-index: -1000;
    background-image: linear-gradient(to right, #1cd8d2, #93edc7);
    transform-origin: left bottom;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0deg, -15deg);
  }

  &:after {
    content: '';
    width: 100%;
    height: 740px;
    z-index: -1001;
    background-image: linear-gradient(to right, #1cd8d2, #93edc7);
    transform-origin: right bottom;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0deg, 9deg);
    opacity: 0.4;
  }

  h1 {
    position: relative;
    margin: 100px auto 70px;
    max-width: 620px;
    text-align: center;
    font-weight: 900;
    color: white;
    z-index: 1;
  }

  .event-wrapper {
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 720px;
    border-radius: 8px;
    box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
    background-color: #04A777;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      width: 4px;
      height: 100%;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      background-color: #fff;
      z-index: 1;
    }

    .modal {
      h3 {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
      }

      h3:first-child {
        margin-top: 0;
      }
    }

    #Modal1Day .modal-body {
      border-bottom: 6px solid rgba(246, 240, 25, 1);
    }

    #Modal2Day .modal-body {
      border-bottom: 6px solid rgba(175, 232, 218, 1);
    }

    .event {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;
      padding: 0 50px 50px;
      width: 50%;
      height: 100%;
      background-size: cover;
      background-position: center center;

      .label {
        position: absolute;
        padding: 10px 10px;
        top: 25px;
        background: #fff;
        font-size: 8px;
        text-transform: uppercase;
        color: #333;
      }

      h2 {
        font-weight: 900;
        color: #333;
      }

      a, a:hover {
        color: #333;
        font-size: 12px;
        font-weight: 600;
        text-decoration: underline;
      }

      ul {
        -webkit-margin-before: 0em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 20px;
      }

      ul.schedules {
        display: flex;
        list-style: none;
        -webkit-padding-start: 0px;

        li {
          position: relative;
          margin-right: 30px;
          font-style: italic;
        }

        li:not(:last-child):after{
          content: "|";
          position: absolute;
          color: rgba(0,0,0,0.3);
          right: -20px;
        }
      }

      .pricing {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin: 20px 0;
        font-size: 26px;
        font-weight: 900;
        color: white;

        i {
          font-size: 12px;
          color: #333;
        }
      }

      .typeform-share {
        display: flex;
        justify-content: center;
        padding: 20px;
        margin-top: 20px;
        border-radius: 2px;
        border: 2px solid #333;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: none;
        background: white;

        &:hover {
          font-size: 16px;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }

  .title-speakers {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 3em 40px 1em 40px;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -2px;

    @media (max-width: 620px) {
      margin: 1em;
      font-size: 24px;
    }

    @media (max-width: 420px) {
      font-size: 20px;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      height: 1px;
      width: 35%;
      top: 50%;
      background-color: #e0e0e0;

      @media (max-width: 992px) {
        display: none;
      }

      @media (max-width: 1200px) {
        width: 25%;
      }
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  .speakers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 3em 40px 1em 40px;

    @media (max-width: 1200px) {
      margin: 3em 0 1em 0;
    }

    @media (max-width: 620px) {
      margin: 1em 0 0;
    }

  .speaker-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    width: 12.5%;

    @media (max-width: 1200px) {
      width: 16.66666%;
    }

    @media (max-width: 992px) {
      justify-content: stretch;
      margin-bottom: 0;
      height: 100%;
    }

    @media (max-width: 420px) {
      width: 20%;
    }

    .speaker-picture {
      width: 90px;
      height: 90px;
      border-radius: 50%;

      @media (max-width: 992px) {
        width: 100%;
        height: 100%;
        border-radius: inherit;
      }
    }

    .speaker-name {
      margin-top: 10px;
      text-align: center;
      font-size: 14px;
      color: #999;

      @media (max-width: 992px) {
        display: none;
      }
    }
  }
}
}