/******************************************************************************/
/* PAGE SPECIFICS */
/******************************************************************************/

.demoday-show {
  .banner-top {
    height: 300px;
    background-position-y: -124px;

    @media (max-width: 620px) {
      height: 210px;
    }

    @media (max-width: 992px) {
      background-position-y: 0;
    }

    .glitch {
      margin-bottom: 0;
    }
  }

  .demo-section {
    @media (max-width: 480px) {
      padding: 0;
    }
  }
}

/******************************************************************************/
/* TITLES */
/******************************************************************************/

.demoday-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 3em 40px 1em 40px;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -2px;

  @media (max-width: 620px) {
    margin: 1em;
    font-size: 24px;
  }

  @media (max-width: 420px) {
    font-size: 20px;
  }

  &:before, &:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 30%;
    top: 50%;
    background-color: #e0e0e0;

    @media (max-width: 992px) {
      display: none;
    }

    @media (max-width: 1200px) {
      width: 25%;
    }
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

/******************************************************************************/
/* DROPDOWN SECTIONS */
/******************************************************************************/

.dropdown-section {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: -33px auto 1em;
  max-width: 700px;
  z-index: 10;

  @media (max-width: 620px) {
    flex-direction: column;
    margin-bottom: 0;
  }

  .dropdown-container {
    position: relative;
    width: 100%;
    max-width: 340px;

    @media (max-width: 620px) {
      max-width: 100%;
    }

    .btn-group {
      position: relative;
      display: flex;
      vertical-align: middle;
    }

    .city-thumbnail {
      margin-right: 10px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }

    .city-batch {
      margin-left: 0 !important;
      font-style: normal;
      color: #000;
      font-weight: 600;
    }

    .camera-icon {
      margin-left: auto;
    }

    small {
      font-size: 70%;
      font-weight: 600;
    }

    .dropdown-batch {
      display: flex;
      align-items: center;
      padding: 20px;
      width: 100%;
      min-height: 84px;
      border: none;
      border-radius: 0;
      color: #A2A2A2;
      background-color: #FDFDFD;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      font-size: 16px;
      font-weight: 500;
      text-align: left;
      text-transform: uppercase;

      i {
        margin-left: 10px;
        font-style: normal;
        font-weight: 500;
      }

      .city-batch {
        font-style: normal;
        color: #000;
        font-weight: 600;
      }

      .caret {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
      }

      span {
        display: flex;
        align-items: center;
        margin-right: 10px;
      }
    }

    .dropdown-menu {
      border: none !important;
      border-radius: 0 !important;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 1px transparent !important;
      padding: 0;
      width: 100%;
      max-width: 340px;
      max-height: 295px;
      overflow: scroll;

      @media (max-width: 620px) {
        max-width: 100%;
      }

      li {
        display: flex;
        align-items: center;
        width: 100%;
        cursor: pointer;
        padding: 20px;
        color: #A2A2A2;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;

        &:hover {
          background-color: #f5f5f5;
        }

        span {
          display: flex;
          margin-right: 10px;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          font-size: 18px;
          font-weight: 500;
          text-transform: uppercase;
          color: #A2A2A2;

          svg {
            height: 20px;
          }
        }
      }
    }

    .dropdown-menu-city {
      a {
        display: flex;
        flex-direction: column;
        align-items: flex-start !important;
        font-weight: 900 !important;
        color: black !important;

        small {
          font-size: 12px;
          color: #A2A2A2;
          font-weight: 500;
        }
      }
    }
  }
}

/******************************************************************************/
/* PLAYER */
/******************************************************************************/

.player-container {
  margin: 3em 40px 1em 40px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1 );

  @media (max-width: 1200px) {
    margin: 3em 0 1em 0;
  }

  @media (max-width: 992px) {
    margin: 2em 0 0;
  }

  @media (max-width: 480px) {
    margin: 0;
  }

  .player-header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    height: 60px;
    color: white;
    background-color: #353C42;

    @media (max-width: 768px) {
      height: auto;
    }

    @media (max-width: 480px) {
      display: none;
    }

    .batch-info {
      display: flex;
      align-items: center;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .batch-flag {
        display: flex;

        @media (max-width: 768px) {
          display: none;
        }
      }

      .batch-details {
        display: flex;
        align-items: center;
        position: relative;
        margin-left: 10px;

        @media (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
          margin-left: 0;
        }


        .batch-name {
          font-size: 21px;
          font-weight: 900;

          i {
            font-style: normal;
            font-weight: 100;
          }
        }

        .batch-date {
          position: relative;
          bottom: -3px;
          margin-left: 10px;
          font-size: 14px;
          font-weight: 100;

          @media (max-width: 768px) {
            margin-left: 0;
          }
        }
      }
    }

    .product-info {
      display: flex;
      align-items: center;

      .product-icon {
        display: flex;

        svg {
          width: 24px;
          height: 24px;
        }
      }

      .product-details {
        margin-left: 10px;
        font-size: 14px;

        i {
          font-style: normal;
          text-transform: uppercase;
        }
      }
    }
  }

  .player-menu {
    display:flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    min-height: 120px;
    color: white;
    background-color: #419BF9;

    @media (max-width: 620px) {
      display: none;
    }

    .player-menu-summary {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      list-style: none;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 0px;

      .player-menu-item {
        display: flex;
        align-items: center;
        padding: 0 5px;
        margin: 0 0.33333% 5px;
        width: 16%;
        min-height: 33px;
        max-height: 33px;
        background-color: #69B2FF;
        border-radius: 2px;

        @media (max-width: 992px) {
          width: 32.66666%;
        }

        &:hover {
          background-color: #7BBCFF;
          cursor: pointer;
        }
      }

      .player-menu-item-active {
        position: relative;
        background-color: #353C42;

        &:hover {
          background-color: #353C42;
        }

        &:after {
          content: "";
          position: absolute;
          top: 10px;
          right: 5px;
          width: 14px;
          height: 14px;
          background-color: #2ECC71;
          border-radius: 50%;
          border: 1px solid white;
        }
      }
    }
  }

  .player-content {
    display: flex;
    height: 413px;

    @media (max-width: 1200px) {
      height: 346px;
    }

    @media (max-width: 992px) {
      flex-direction: column;
      height: auto;
    }

    .player-placeholder {
      position: relative;
      width: 100%;
      min-height: 310px;
      max-width: 735px;
      background-size: cover;
      background-position: center center;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        z-index: 1;
      }

      span {
        position: absolute;
        padding: 10px 20px;
        left: 50%;
        bottom: 10%;
        transform: translateX(-50%);
        color: #fff;
        background-color: #000;
        border-radius: 4px;
        z-index: 2;
      }
    }

    .video-wrapper {
      padding-bottom: 36.8%;
      margin: 0px;
      width: 100%;
      min-height: 413px;
      border: none;

      @media (max-width: 1200px) {
        padding-bottom: 34.4%;
        min-height: 346px;
      }

      @media (max-width: 992px) {
        padding-bottom: 52.9%;
        min-height: 405px;
      }

      @media (max-width: 375px) {
        padding-bottom: 48%;
      }
    }

    .player-video {
      width: 100%;
      max-width: 735px;
      background-color: #cdcdcd;
    }

    .player-product {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      max-width: 325px;

      @media (max-width: 992px) {
        max-width: 100%;
      }

      .product-details {
        display: flex;
        flex-direction: column;
        padding: 30px;

        @media (max-width: 992px) {
          display: none;
        }

        .product-team {
          display: flex;
          justify-content: flex-start;
          list-style: none;
          -webkit-margin-before: 0em;
          -webkit-margin-after: 0em;
          -webkit-margin-start: 0px;
          -webkit-margin-end: 0px;
          -webkit-padding-start: 0px;

          li:not(:first-child) {
            margin-left: 10px;
          }

          .team-member {
            width: 42px;
            height: 42px;
            border-radius: 50%;
          }
        }

        .project-name {
          font-size: 30px;
          font-weight: 900;
          margin-bottom: 0.6em;
        }

        .project-tagline {
          margin-bottom: 1em;
          font-weight: 100;
          color: #333333;
        }

        .project-link {
          position: relative;
          margin-bottom: 2em;
          font-weight: 900;
          z-index: 1;


          &:after {
            content: "";
            position: absolute;
            top: 12px;
            left: 0px;
            width: 28%;
            height: 7px;
            background-color: #1DCE6C;
            z-index: -1;
          }

          &:hover {
            color: #333333;
            text-decoration: none;

            &:after {
              background-color: #2aff89;
            }
          }
        }

        .project-techno {

          @media (max-width: 1200px) {
            display: none;
          }

          span {
            position: relative;
            display: inline;
            margin-bottom: 10px;
            font-size: 10px;
            color: #A2A2A2;
          }

          ul {
            display: flex;
            justify-content: flex-start;
            list-style: none;
            -webkit-margin-before: 0em;
            -webkit-margin-after: 0em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-start: 0px;
            padding-left: 0;

            svg {
              margin: 5px 5px 0 0;
              width: 25px;
              height: 25px;
            }
          }
        }
      }

      .apply-cta {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 65px;
        background-color: #D23333;
        color: white;
        text-shadow: 0px 2px rgba(0, 0, 0, 0.15);

        @media (max-width: 620px) {
          width: 100%;
        }

        &:hover {
          background: #C22F2F;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
}



.students-container {
  display: flex;
  flex-wrap: wrap;
  margin: 3em 40px 1em 40px;

  @media (max-width: 1200px) {
    margin: 3em 0 1em 0;
  }

  @media (max-width: 620px) {
    margin: 1em 0 0;
  }

  .student-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 12.5%;

    @media (max-width: 1200px) {
      width: 16.66666%;
    }

    @media (max-width: 992px) {
      justify-content: stretch;
      margin-bottom: 0;
      height: 100%;
    }

    @media (max-width: 420px) {
      width: 20%;
    }

    .student-picture {
      width: 90px;
      height: 90px;
      border-radius: 50%;

      @media (max-width: 992px) {
        width: 100%;
        height: 100%;
        border-radius: inherit;
      }
    }

    .student-name {
      margin-top: 10px;
      text-align: center;
      font-size: 14px;
      color: #999;

      @media (max-width: 992px) {
        display: none;
      }
    }
  }
}


.container-batch-cover {
  padding: 0;

  @media (max-width: 992px) {
    display: none;
  }

  .cover-students {
    height: 400px;
    padding: 0px;
    background-size: cover;
    background-position: center center;
  }
}
