#employers-why-overlay {
  background-color: #F4F4F4;
  position: relative;
  margin-top: -230px;
  padding-top: 200px;
  padding-bottom: 100px;
}
.employers-why-text {
  font-weight: lighter;
  font-size: 19px;
  color: #414141;
  margin-bottom: 50px;
  margin-top: 10px;
}
.alumni-strength-title {
  display: flex;
  align-items: center;
  font-size: 17px;
  margin-bottom: 10px;
  svg {
    padding-right: 5px;
    margin-right: 5px;
    height: 30px;
  }
}
.alumni-strength-body {
  font-weight: 100;
  padding-right: 20px;
}
#employers-apply {
  height: 100vh;
  padding: 0 100px;
}
@media (max-width: $screen-sm) {
  #employers-apply {
    padding: 0 20px;
  }
}
