#invitation-banner {
  width: 100vw;
  height: calc(100vh - 130px);
  overflow-x: hidden;
  .banner-enterprise {
    height: calc(100vh - 180px);
  }
  h1, p, span {
    color: #363636;
  }
  h1 {
    font-size: 42px;
    font-weight: 900;
  }
  img {
    align-self: flex-end;
    // width: 900px;
    //margin-right: -250px;
    box-shadow: -2px -2px 15px rgba(0, 0, 0, 0.05);
  }
  display: flex;
  .banner-content {
    padding-left: 70px;
    p {
      max-width: 600px;
      padding-right: 50px;
      font-size: 23px;
      color: #333333;
      font-weight: 100;
      margin-bottom: 30px;
      line-height: 1.5;
    }
  }
}
.invitation {
  display: flex;
  align-items: center;
}
.form-invitation {
  display: flex;
  align-items: center;
  .form-control {
    border-radius: 3px 0px 0px 3px;
    width: 200px;
    height: 64px;
  }
  .btn {
    border-radius: 0px 3px 3px 0px;
    margin-left: -10px;
  }
}
.discount-invitation {
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
  span:first-child {
    font-weight: 900;
    font-size: 30px;
  }
  span:last-child {
    padding-left: 15px;
    font-size: 15px;
    opacity: 0.8;
  }
}


#slideshow img{
  position: absolute;
  right: 0px;
  overflow-x: hidden;
  bottom: 0px;
  width: 650px;
  box-shadow: -1px -1px 20px rgba(0,0,0,.15);
}
