.pages-partners {

  &:before {
    content: '';
    width: 100%;
    height: 440px;
    z-index: -1000;
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
  }

  h1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 110px auto 220px;
    width: 100%;
    text-align: center;
    align-items: center;
    font-weight: 900;
    font-size: 40px;
    color: white;

    @media (max-width: 520px) {
      margin: 80px auto 176px;
    }
  }

  .container-wrapper {
    position: relative;
  }

  .container-partner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 120px;
    width: 100%;
    max-width: 1000px;

    h2 {
      position: absolute;
      top: -66px;
      left: 10px;
      font-size: 40px;
      font-weight: 900;
      text-transform: uppercase;
      color: #f78ca0;
      opacity: 0.2;
    }

    h2::first-letter {
      color: #fd868c;
    }

    .card-partner {
      position: relative;
      margin: 1%;
      width: 48%;
      border-radius: 4px;
      background: white;
      box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
      overflow: hidden;
      cursor: pointer;
      border-right: 20px solid;

      @media (min-width: 993px) {
        &:hover {
          svg {
            transform: translateX(-27%);
          }
        }
      }


      @media (max-width: 600px) {
        margin: 0 auto 20px;
        width: 100%;
        max-width: 465px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
      }

      a {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
      }

      h2 {
        margin: 0;
        font-size: 17px;
        line-height: 26px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .025em;
        z-index: 1;

        &:after {
          content: '\279C';
        }
      }

      img {
        margin-bottom: 10px;
        height: 40px;
        z-index: 1;

        @media (max-width: 780px) {
          height: 30px;
        }
      }

      p {
        min-height: 66px;
        font-size: 16px;
        opacity: 0.7;
        z-index: 1;
      }

      span {
        z-index: 1;
      }

      span:after {
        content: '\279C';
        margin-left: 7px;
        font-size: 10px;
      }

      svg {
        position: absolute;
        top: 0px;
        left: -5px;
        opacity: 0.1;
        z-index: 0;
        transition: transform;
        transition: ease-in-out .3s;
        transform: translateX(-52%);

        @media (max-width: 600px) {
          left: 16%;
        }
      }
    }

    .card-partner-content {
      padding: 40px;
      transition: all 0.3s ease-in-out;

      @media (max-width: 780px) {
        padding-bottom: 20px;
      }
    }
  }
}
