#banner-program {
  background-position-y: -100px;

  @media (max-width: $screen-md) {
    background-position: center center;
    background-size: cover;
  }
}

#download-syllabus-form {
  select#prospect_city {
    position: relative;
    flex: 1;
    // -webkit-appearance: none;
    // -moz-appearance: none;
    border: 0;
    box-shadow: none;
    // &:before {
    //   content: "";
    //   position: absolute;
    //   top: 30px;
    //   right: 15px;
    //   width: 0;
    //   height: 0;
    //   border-left: 5px solid transparent;
    //   border-right: 5px solid transparent;
    //   border-top: 5px solid #626262;
    //   font-size: 0;
    //   line-height: 0;
    //   z-index: 1;
    // }
  }
}
#modalSyllabusForm {
  svg {
    width: 150px;
    height: 200px;
    margin: 10px auto;
    margin-top: 50px;
  }
  h2 {
    margin-top: 0px;
    margin-bottom: 100px;
    font-size: 22px;
    font-weight: 600;
  }
  #letter {
    transform: translate(80px, 60px);
    transition: 1s transform ease;
  }
  #letter.opened {
    transform: translate(80px, -70px);
  }

}
