.pages-shop {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 850px;
    top: 110px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(255,255,255,1) 3%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,1) 90%), asset-url('banners/banner-shop.jpg');
    background-size: cover;
    opacity: 0.6;
    z-index: 0;
  }

  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 100px auto 160px;
    max-width: 620px;
    text-align: center;
    font-weight: 900;
    z-index: 10;

    @media (max-width: 624px) {
      font-size: 34px;
      margin-bottom: 60px;
    }

    small {
      margin-top: 10px;
    }
  }

  #myShop {
    position: relative;
    margin-bottom: 60px;
    box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    z-index: 10;

    .sprd-minimalNavigation,
    .sprd-promo-expander {
      display: none;
    }

    .SprdHeader {
      position: relative;
    }

    .sprd-navigationSpace {
      margin-top: 0;
    }

    .sprd-filterBar {
      display: none;
      position: relative;
      top: 0;
    }

    #sprd-main {
      border-radius: 8px;

      .sprd-articles {
        top: 0;
        padding: 1em .5em 3em;
      }

      .sprd-designDetails {
        display: none;
      }

      #footer {
        display: none;
        padding-bottom: 0;
        border-bottom: none;
        color: white;
        background-color: #222;

        #return-policy-desktop-footer {
          padding: 0;
          width: 100%;
        }
      }
    }
  }
}