/******************************************************************************/
/* COMPONENT - VIDEO CARD  ****************************************************/
/******************************************************************************/

.video-main-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 820px;
  height: 100%;
  border-radius: 2px;
  background: white;
  box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;

  .video-wrapper {
    padding: 0 0 56.1% 0;
    margin: 0;
    border-color: white;
  }

  .video-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 56.1%; /* 16:9 */
    height: 0;
    background-size: cover;
    color: white;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.2) 45%);
      z-index: 1;
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    h2, span, i, a {
      position: relative;
      z-index: 2;
    }

    span {
      max-width: 420px;
      text-align: center;
      font-weight: 100;
      opacity: 0.9;
    }

    i {
      margin-top: 10px;
      font-size: 0.7em;
      font-weight: 100;
      font-style: normal;
    }

    .play-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }

    .play-button svg {
      width: 60px;
      height: 60px;
    }
  }
}