<div class="modal fade" id="faq-meetups" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-testimonial" role="document">
    <div class="modal-content modal-faq">
      <h1>Join us on Meetup</h1>
      <p>In addition to our intensive program, we organise free evening workshops during the week, open to everyone. Come and learn HTML, CSS, JavaScript and much more with us!</p>
      <ul>
        <% Static::CITIES.each_value do |city| %>
          <li>
            <%=link_to city[:city], "https://www.meetup.com/#{city[:meetup_url]}", target: '_blank' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>