<div class="modal fade" id="faq-contacts" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-testimonial" role="document">
    <div class="modal-content">
      Test
    </div>
  </div>
</div>