<div class="modal fade" id="faq-meetups" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-testimonial" role="document">
    <div class="modal-content modal-faq">
      <div class="modal-header" style="height: 60px;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" style="padding-left: 20px;"><%= t('.title') %></h4>
      </div>
      <div class="modal-body">
        <p><%= t('.description') %></p>
        <ul>
          <% Static::CITIES.each_value do |city| %>
            <% unless city[:meetup_url].blank? %>
              <li>
                <%=link_to city[:city], "https://www.meetup.com/#{city[:meetup_url]}", target: '_blank' %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>