<div class="modal fade" id="faq-meetups" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-testimonial" role="document">
    <div class="modal-content modal-faq">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">City</th>
            <th scope="col">Meetup groups</th>
          </tr>
        </thead>
        <tbody>
          <% Static::CITIES.each_value do |city| %>
            <tr>
              <td><%= city[:city] %></td>
              <td>https://www.meetup.com/<%= city[:meetup_url] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>