<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 41.1 (35376) - http://www.bohemiancoding.com/sketch -->
    <title>flag_fr</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <path d="M15,30 C23.2842712,30 30,23.2842712 30,15 C30,6.71572875 23.2842712,0 15,0 C6.71572875,0 0,6.71572875 0,15 C0,23.2842712 6.71572875,30 15,30 Z" id="path-1"></path>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="/demoday" transform="translate(-88.000000, -403.000000)">
            <g id="Video-container" transform="translate(69.000000, 372.000000)">
                <g id="Top-video">
                    <g id="flag_fr" transform="translate(20.000000, 32.000000)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <use id="Flag-container" stroke="#F5F5F5" fill="#FFFFFF" xlink:href="#path-1"></use>
                        <g id="fr" mask="url(#mask-2)">
                            <g id="Group">
                                <path d="M0,15 C0,21.5305 4.175,27.083 10,29.1425 L10,0.8565 C4.175,2.916 0,8.4695 0,15 Z" id="Shape" fill="#428BC1"></path>
                                <path d="M30,15 C30,8.47 25.825,2.915 20,0.855 L20,29.14 C25.825,27.0805 30,21.528 30,14.995" id="Shape" fill="#ED4C5C"></path>
                                <path d="M10,29.1425 C11.5645,29.6965 13.246,30 15,30 C16.754,30 18.4355,29.6965 20,29.1425 L20,0.8565 C18.4355,0.3035 16.754,0 15,0 C13.246,0 11.5645,0.3035 10,0.8565 L10,29.1425 Z" id="Shape" fill="#F9F9F9"></path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>