<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 41.1 (35376) - http://www.bohemiancoding.com/sketch -->
    <title>flag_en</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <path d="M15,30 C23.2842712,30 30,23.2842712 30,15 C30,6.71572875 23.2842712,0 15,0 C6.71572875,0 0,6.71572875 0,15 C0,23.2842712 6.71572875,30 15,30 Z" id="path-1"></path>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="/demoday" transform="translate(-88.000000, -403.000000)">
            <g id="Video-container" transform="translate(69.000000, 372.000000)">
                <g id="Top-video">
                    <g id="flag_en" transform="translate(20.000000, 32.000000)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <use id="Flag-container" stroke="#F5F5F5" fill="#FFFFFF" xlink:href="#path-1"></use>
                        <g id="en" mask="url(#mask-2)">
                            <g id="Group">
                                <g transform="translate(0.508197, 20.666667)" id="Shape" fill="#2A5F9E">
                                    <path d="M9.6557377,9.44466667 L9.6557377,2.3064 L4.41470492,6.23358333 C5.91490164,7.6384 7.69308197,8.73941667 9.6557377,9.44466667"></path>
                                    <path d="M19.8196721,9.44466667 C21.7889344,8.73735 23.5716885,7.63116667 25.0749344,6.22066667 L19.8206885,2.29503333 L19.8196721,9.44466667"></path>
                                    <path d="M0.362852459,0 C0.539196721,0.505816667 0.738409836,1.00026667 0.963540984,1.48025 L2.93991803,0 L0.362852459,0"></path>
                                    <path d="M26.5329508,0 L28.5113607,1.48128333 C28.7359836,1.00078333 28.9357049,0.5053 29.1120492,0 L26.5329508,0"></path>
                                </g>
                                <g transform="translate(0.000000, 18.600000)" id="Shape" fill="#FFFFFF">
                                    <path d="M10.904377,0 L6.20711475,0 L0.305934426,0 C0.446704918,0.707316667 0.638295082,1.39655 0.87104918,2.06666667 L3.44811475,2.06666667 L1.47122951,3.54691667 C1.87118033,4.40251667 2.34837705,5.2142 2.88960656,5.9737 L8.13216393,2.06666667 L8.15452459,2.06666667 L10.1639344,2.06666667 L10.1639344,3.12531667 L10.1639344,3.13616667 L4.21447541,7.59138333 C4.44367213,7.83576667 4.67845902,8.07395 4.92290164,8.30283333 L10.1639344,4.37565 L10.1639344,11.5139167 C10.8220492,11.7510667 11.5004918,11.9448167 12.1967213,12.0889667 L12.1967213,2.852 L12.1967213,1.61458333 L12.1967213,1.60735 L12.1967213,3.67113747e-15 L10.914541,3.67113747e-15 L10.904377,3.67113747e-15"></path>
                                    <path d="M30.1868852,0 L24.2831639,0 L22.7661967,0 L22.7646721,0 L19.3282459,0 L19.3257049,0 L18.2960984,0 L18.2960984,2.84476667 L18.2960984,12.0894833 C18.9923279,11.9463667 19.6707705,11.7515833 20.3288852,11.5144333 L20.3299016,4.3648 L25.5841475,8.29043333 C26.285459,7.63271667 26.9262951,6.9099 27.4959836,6.1287 L22.0811475,2.06666667 L22.0882623,2.06666667 L25.5221475,2.06666667 L28.6018197,4.37565 L28.6018197,4.37668333 C28.7491967,4.10543333 28.8884426,3.8285 29.0200656,3.54795 L27.0416557,2.06666667 L29.6202459,2.06666667 C29.853,1.39655 30.0445902,0.707316667 30.1853607,3.67113747e-15"></path>
                                </g>
                                <g transform="translate(2.540984, 20.666667)" id="Shape" fill="#ED4C5C">
                                    <path d="M0.365393443,3.93028333 C0.761278689,4.48621667 1.19629508,5.01321667 1.66027869,5.50973333 C1.66485246,5.5149 1.66942623,5.52006667 1.6734918,5.52471667 L7.62295082,1.0695 L7.62295082,1.05865 L7.62295082,0 L5.61354098,0 L0.365393443,3.93028333"></path>
                                    <path d="M19.5452459,0 L24.9580492,4.05376667 C25.1465902,3.79543333 25.3254754,3.52986667 25.4977541,3.25965 C25.5241803,3.21831667 25.5500984,3.17698333 25.5755082,3.13565 C25.7442295,2.86543333 25.9068525,2.59056667 26.0598197,2.30898333 L22.9801475,0 L19.5462623,0"></path>
                                </g>
                                <g transform="translate(0.508197, 0.516667)" id="Shape" fill="#2A5F9E">
                                    <path d="M19.8196721,0.368383333 L19.8196721,7.50716667 L25.0607049,3.57946667 C23.56,2.17516667 21.7818197,1.07466667 19.8196721,0.368383333 Z"></path>
                                    <path d="M9.6557377,0.368383333 C7.68647541,1.0757 5.90372131,2.18188333 4.40047541,3.59238333 L9.65472131,7.51853333 L9.6557377,0.368383333 Z"></path>
                                    <path d="M29.1145902,9.81666667 C28.9382459,9.31085 28.7390328,8.81588333 28.5139016,8.3359 L26.5370164,9.81666667 L29.1145902,9.81666667"></path>
                                    <path d="M2.94144262,9.81666667 L0.963032787,8.33538333 C0.738409836,8.81536667 0.539196721,9.31033333 0.362852459,9.81666667 L2.94144262,9.81666667"></path>
                                </g>
                                <g id="Shape" fill="#FFFFFF">
                                    <path d="M19.586918,12.4 L24.2841803,12.4 L30.1858689,12.4 C30.0445902,11.6921667 29.8535082,11.0029333 29.6207541,10.3333333 L27.0431803,10.3333333 L29.0205738,8.85256667 C28.6201148,7.99696667 28.1434262,7.1858 27.6021967,6.42578333 L22.3591311,10.3333333 L22.3367705,10.3333333 L20.3278689,10.3333333 L20.3278689,9.27468333 L20.3278689,9.26383333 L26.2768197,4.80861667 C26.0481311,4.56423333 25.8128361,4.32553333 25.5683934,4.09716667 L20.3278689,8.02435 L20.3278689,0.88505 C19.6692459,0.648416667 18.9913115,0.45415 18.295082,0.310516667 L18.295082,9.548 L18.295082,10.7854167 L18.295082,10.7921333 L18.295082,12.4 L19.5772623,12.4 L19.586918,12.4"></path>
                                    <path d="M0.305934426,12.4 L6.20965574,12.4 L7.72662295,12.4 L7.72814754,12.4 L11.1645738,12.4 L11.1671148,12.4 L12.1967213,12.4 L12.1967213,9.55523333 L12.1967213,0.310516667 C11.5004918,0.453633333 10.8220492,0.648416667 10.1639344,0.88505 L10.162918,8.0352 L4.90867213,4.10956667 C4.20736066,4.76728333 3.56652459,5.49061667 2.99683607,6.2713 L8.41116393,10.3328167 L8.40404918,10.3328167 L4.97067213,10.3328167 L1.891,8.02331667 L1.891,8.0228 C1.74362295,8.29405 1.60437705,8.57046667 1.4727541,8.85153333 L3.45116393,10.3328167 L0.87257377,10.3328167 C0.639819672,11.0019 0.448229508,11.6911333 0.307459016,12.3994833"></path>
                                </g>
                                <g id="Shape" fill="#ED4C5C">
                                    <path d="M27.584918,6.40253333 C27.1890328,5.8466 26.7540164,5.31908333 26.2895246,4.82308333 C26.2849508,4.81791667 26.2808852,4.81275 26.2768197,4.8081 L20.3273607,9.26331667 L20.3273607,9.27416667 L20.3273607,10.3333333 L22.3362623,10.3333333 L27.584918,6.40253333"></path>
                                    <path d="M8.40455738,10.3328167 L2.9917541,6.27905 C2.80321311,6.53738333 2.62432787,6.80346667 2.45204918,7.07368333 C2.42562295,7.1145 2.40021311,7.15583333 2.37429508,7.19716667 C2.20557377,7.46738333 2.04295082,7.74225 1.88998361,8.02383333 L4.96965574,10.3333333 L8.40354098,10.3328167"></path>
                                    <path d="M30.1868852,12.4 L24.2851967,12.4 L19.5879344,12.4 L19.5782787,12.4 L18.2960984,12.4 L18.2960984,10.7921333 L18.2960984,10.7854167 L18.2960984,9.548 L18.2960984,0.310516667 C17.3107049,0.107466667 16.2912623,0 15.246918,0 C14.2025738,0 13.182623,0.107466667 12.1977377,0.311033333 L12.1977377,9.55575 L12.1977377,12.4 L11.1681311,12.4 L11.1655902,12.4 L7.72916393,12.4 L7.72763934,12.4 L6.21067213,12.4 L0.30695082,12.4 C0.106721311,13.4013 0.00101639344,14.43825 0.00101639344,15.5 C0.00101639344,16.56175 0.106213115,17.5981833 0.30695082,18.6 L6.20813115,18.6 L10.9053934,18.6 L10.9155574,18.6 L12.1977377,18.6 L12.1977377,20.20735 L12.1977377,20.2145833 L12.1977377,21.452 L12.1977377,30.6894833 C13.182623,30.8920167 14.2025738,31 15.246918,31 C16.2912623,31 17.3112131,30.8920167 18.2960984,30.6889667 L18.2960984,21.4447667 L18.2960984,18.6 L19.3257049,18.6 L19.3282459,18.6 L22.7646721,18.6 L22.7661967,18.6 L24.2831639,18.6 L30.1868852,18.6 C30.3871148,17.5981833 30.4928197,16.56175 30.4928197,15.5 C30.4928197,14.43825 30.3871148,13.4013 30.1868852,12.4"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>