<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 41.1 (35376) - http://www.bohemiancoding.com/sketch -->
    <title>flag_pt</title>
    <desc>Created with Sketch.</desc>
    <defs>
        <path d="M15,30 C23.2842712,30 30,23.2842712 30,15 C30,6.71572875 23.2842712,0 15,0 C6.71572875,0 0,6.71572875 0,15 C0,23.2842712 6.71572875,30 15,30 Z" id="path-1"></path>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="/demoday" transform="translate(-88.000000, -403.000000)">
            <g id="Video-container" transform="translate(69.000000, 372.000000)">
                <g id="Top-video">
                    <g id="flag_pt" transform="translate(20.000000, 32.000000)">
                        <mask id="mask-2" fill="white">
                            <use xlink:href="#path-1"></use>
                        </mask>
                        <use id="Flag-container" stroke="#F5F5F5" fill="#FFFFFF" xlink:href="#path-1"></use>
                        <g id="pt" mask="url(#mask-2)">
                            <g id="Group">
                                <g id="Shape" fill="#699635">
                                    <path d="M29.768,12.384 C28.5295,5.3475 22.3915,0 15,0 C7.6085,0 1.4705,5.3475 0.232,12.384 L15,5 L29.768,12.384 Z"></path>
                                    <path d="M0.232,17.616 C1.4705,24.6525 7.6085,30 15,30 C22.3915,30 28.5295,24.6525 29.768,17.616 L15,25 L0.232,17.616 Z"></path>
                                </g>
                                <path d="M15,5 L0.232,12.384 C0.0825,13.234 0,14.1075 0,15 C0,15.8925 0.0825,16.766 0.232,17.616 L15,25 L29.768,17.616 C29.9175,16.766 30,15.8925 30,15 C30,14.1075 29.9175,13.234 29.768,12.384 L15,5 Z" id="Shape" fill="#FFE62E"></path>
                                <g transform="translate(7.500000, 7.500000)" id="Shape" fill="#428BC1">
                                    <path d="M4.4985,5.7175 C2.9115,5.7175 1.411,6.061 0.051,6.653 C0.02,6.9315 0,7.213 0,7.5 C0,11.642 3.358,15 7.5,15 C10.302,15 12.741,13.4605 14.03,11.1835 C12.182,7.932 8.6075,5.7175 4.5,5.7175"></path>
                                    <path d="M14.893,8.7145 C14.958,8.3185 15,7.9145 15,7.5 C15,3.3585 11.642,0 7.5,0 C4.5385,0 1.985,1.7215 0.766,4.214 C1.9495,3.8695 3.1995,3.6725 4.498,3.6725 C8.75,3.672 12.523,5.6595 14.893,8.7125"></path>
                                </g>
                                <g transform="translate(7.500000, 11.000000)" fill="#FFFFFF">
                                    <path d="M4.4985,0.172 C3.1995,0.172 1.95,0.369 0.7665,0.7135 C0.399,1.4655 0.149,2.2855 0.0515,3.1525 C1.4115,2.5605 2.912,2.217 4.499,2.217 C8.6065,2.217 12.1815,4.4315 14.029,7.683 C14.455,6.931 14.749,6.0985 14.8935,5.214 C12.5215,2.1595 8.75,0.174 4.4985,0.174" id="Shape"></path>
                                    <circle id="Oval" cx="2.5" cy="4" r="0.5"></circle>
                                    <ellipse id="Oval" cx="4.5" cy="7" rx="0.5" ry="0.5"></ellipse>
                                    <ellipse id="Oval" cx="7.5" cy="7" rx="0.5" ry="0.5"></ellipse>
                                    <ellipse id="Oval" cx="7.5" cy="9" rx="0.5" ry="0.5"></ellipse>
                                    <ellipse id="Oval" cx="11.5" cy="7" rx="0.5" ry="0.5"></ellipse>
                                    <ellipse id="Oval" cx="11.5" cy="9" rx="0.5" ry="0.5"></ellipse>
                                    <ellipse id="Oval" cx="9.5" cy="8" rx="0.5" ry="0.5"></ellipse>
                                    <ellipse id="Oval" cx="2.5" cy="6" rx="0.5" ry="0.5"></ellipse>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>