<div class="live-demo" style="background: #F4F4F4;">
  <div class="container">
    <div class="live-demo-container">
      <div class="live-demo-text hidden-xs">
        <%= link_to "https://medium.com/@papillard/what-code-really-teaches-you-6551d9e42ae4", class: 'no-decoration', target: :blank do %>
          <%= image_tag "press/logo-medium.png", height: 32, width: 32 %>
        <% end %>
      </div>
      <%= link_to "https://medium.com/@papillard/what-code-really-teaches-you-6551d9e42ae4", target: :blank, class: "btn btn-primary" do %>
        What code really teaches you
      <% end %>
    </div>
  </div>
</div>

