<?xml version="1.0" encoding="UTF-8"?>
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 3.8.3 (29802) - http://www.bohemiancoding.com/sketch -->
    <title>icon</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="/demoday" transform="translate(-1014.000000, -416.000000)">
            <g id="Video-container" transform="translate(69.000000, 372.000000)">
                <g id="Top-video">
                    <g id="Product" transform="translate(946.000000, 45.000000)">
                        <g id="product">
                            <g id="icon">
                                <path d="M15,30 C23.2842712,30 30,23.2842712 30,15 C30,6.71572875 23.2842712,0 15,0 C6.71572875,0 0,6.71572875 0,15 C0,23.2842712 6.71572875,30 15,30 Z" id="Oval-1" stroke="#F5F5F5" fill="#FFFFFF"></path>
                                <g id="Shape" transform="translate(7.000000, 6.000000)" fill="#333333">
                                    <g id="Page-1">
                                        <path d="M15.9382083,3.0636 C15.8985417,3.04704 15.8581667,3.0312 15.8177917,3.01536 C13.733875,2.18016 11.6414583,1.36656 9.571,0.4968 C8.91791667,0.22248 8.36045833,0.19224 7.68825,0.4716 C5.38404167,1.42776 3.0515,2.31408 0.727458333,3.21984 C0.562416667,3.28392 0.507875,3.366 0.51425,3.54456 C0.53975,4.27176 0.524166667,4.99896 0.558875,5.72688 C0.604208333,6.68088 0.575875,7.63776 0.608458333,8.5932 C0.651666667,9.85464 0.621916667,11.11824 0.679291667,12.3804 C0.679291667,12.68784 0.689208333,12.99528 0.67575,13.30128 C0.667958333,13.48416 0.727458333,13.57776 0.893916667,13.66056 C3.35679167,14.886 5.81541667,16.11936 8.272625,17.3556 C8.41925,17.42904 8.53683333,17.43912 8.68133333,17.35488 C8.88958333,17.23248 9.10916667,17.1288 9.32591667,17.0208 C11.53025,15.91776 13.7352917,14.81472 15.9410417,13.71456 C16.0749167,13.64832 16.1592083,13.58424 16.1634583,13.40856 C16.2066667,11.84904 16.262625,10.29024 16.309375,8.73144 C16.3377083,7.794 16.330625,6.8544 16.385875,5.9184 C16.42625,5.23584 16.419875,4.55256 16.4531667,3.87 C16.4885833,3.14352 16.611125,3.33576 15.9375,3.06432 L15.9382083,3.0636 L15.9382083,3.0636 Z M7.97795833,15.76656 C7.97795833,15.97896 7.95104167,16.02504 7.74420833,15.91992 C5.79983333,14.93568 3.852625,13.95864 1.90258333,12.98592 C1.75595833,12.91248 1.71204167,12.82464 1.710625,12.66408 C1.69645833,11.3148 1.67733333,9.9648 1.65183333,8.61552 C1.62775,7.34544 1.59375,6.07608 1.56470833,4.806 C1.56258333,4.71024 1.56470833,4.61448 1.56470833,4.47264 C2.37504167,4.82904 3.14145833,5.16384 3.90575,5.50224 C5.20058333,6.07608 6.494,6.65424 7.79095833,7.22376 C7.939,7.28856 7.99283333,7.36632 7.992125,7.53336 C7.98220833,10.27728 7.97795833,13.02192 7.97866667,15.76584 L7.97795833,15.76656 L7.97795833,15.76656 Z M8.37179167,6.34176 C6.45504167,5.48784 4.53616667,4.63968 2.618,3.78864 C2.56629167,3.7656 2.49758333,3.75984 2.467125,3.66552 C4.47879167,2.87928 6.47983333,2.09736 8.47875,1.31256 C8.57579167,1.2744 8.65795833,1.2816 8.75145833,1.31904 C10.6427083,2.07504 12.5339583,2.82816 14.4259167,3.582 C14.464875,3.59784 14.5102083,3.6072 14.53075,3.67848 C14.0497917,3.89736 13.5667083,4.1184 13.0822083,4.33728 C11.6180833,4.99824 10.1539583,5.65776 8.68983333,6.31872 C8.585,6.36624 8.49220833,6.39576 8.3725,6.34176 L8.37179167,6.34176 L8.37179167,6.34176 Z M15.3864167,4.74624 C15.3502917,6.10344 15.3134583,7.46136 15.272375,8.81856 C15.24475,9.738 15.2100417,10.65672 15.1774583,11.57544 C15.1632917,11.97792 15.136375,12.3804 15.136375,12.78288 C15.136375,12.9564 15.0336667,13.0032 14.9160833,13.06224 C13.2373333,13.90104 11.5592917,14.74056 9.88054167,15.57936 C9.60429167,15.7176 9.326625,15.85512 9.01070833,16.01208 L9.01070833,15.32664 C9.01495833,12.75696 9.02204167,10.188 9.01779167,7.61832 C9.01779167,7.39008 9.08933333,7.28856 9.296875,7.19568 C11.2377083,6.33024 13.172875,5.4504 15.10875,4.57344 C15.3906667,4.446 15.3949167,4.44312 15.3864167,4.74552 L15.3864167,4.74624 L15.3864167,4.74624 Z" id="Shape"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>