<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="padded">
        <h1>500 - Internal Server Error</h1>
        <p>Oops! There was an error on our side. We have been notified and will work on fixing this problem ASAP!</p>
      </div>
    </div>
  </div>
</div>
