<% if live.facebook_url.present? %>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/<%= I18n.locale == :fr ? 'fr_FR' : 'en_US' %>/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="fb-video" class="fb-video" data-href="<%= live.facebook_url%>"
      data-width="900"  data-show-text="false" data-allowfullscreen="true">
    </div>

    <script>
      window.fbAsyncInit = function() {
        FB.Event.subscribe('xfbml.ready', function(msg) {
          if (msg.type === 'video' && msg.id === 'fb-video') {
           var player = msg.instance;
           player.play();
          }
        });
      }
    </script>
<% else %>
  <div class="player-placeholder" style="background-image: url('<%= image_path("live/comingsoon/#{rand(5)}.jpg")%>');">
    <span><%= t(".live_coming_soon") %></span>
  </div>
<% end %>
