<% content_for(:title) do %>
  What is Le Wagon?
<% end %>

<div class="container about">
  <div class="row">
    <div class="col-sm-6">
      <h1>Le Wagon</h1>
      <p>
        Le Wagon is a coding school founded in 2013 and run by
        <a href="https://twitter.com/bpapillard">Boris</a>,
        <a href="https://twitter.com/romainpaillard">Romain</a> and
        <a href="https://twitter.com/ssaunier">Sébastien</a> in Paris, France.
        <strong>Le Wagon's mission is to bring technical skills to creative people.</strong>
        Our
        <%= link_to "9-week coding bootcamp", send(:"program_#{locale.to_s.underscore}_path") %>
        gives you the ability to build a prototype of any idea
        you might have. No technical background needed, just your motivation.
      </p>
      <p>
        <%= (@statistics.alumni_count / 10) * 10 %>+ students already graduated from Le Wagon. They found positions as Junior Web Developers,
        Product Managers (who can code, huge!), Technical Sales, etc. Others started
        their company, raised money, built a team. Others got back to their
        old job with their new superpowers.
      </p>
      <blockquote>
        <q>
          <a href="http://www.wsj.com/articles/SB10001424053111903480904576512250915629460">
            Software is eating the world</a>
        </q><br />
        <cite>- Marc Andreessen</cite>
      </blockquote>
      <p>
        Are you ready to <%= link_to "change your life?", send(:"apply_#{locale.to_s.underscore}_path") %>
      </p>
    </div>
    <div class="col-sm-6">
      <div class="slideshare-embed-container">
        <iframe src="https://www.slideshare.net/slideshow/embed_code/key/ge57KoibDCJiYD?norelated=true" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen> </iframe>
      </div>
    </div>
  </div>
</div>
