<%= content_for(:title)       { "CGV" }       %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h2 class="text-center">
        <strong>
          Conditions Générales de Vente
        </strong>
      </h2>
      <div class="padded-small text-justify">
        <h4>
          <strong>
            Article 1: Objet
          </strong>
        </h4>
        <p>
          En exécution du présent contrat, la société LE WAGON s’engage à organiser l’action de formation professionnelle intitulée : « Programme Fullstack ».
        </p>
      </div>
      <div class="padded-small text-justify">
        <h4>
          <strong>
            Article 2 : Nature et caractéristiques de l’action de formation professionnelle
          </strong>
        </h4>
        <p>
          L’action de formation professionnelle entre dans la catégorie des actions d'acquisition, d'entretien ou de perfectionnement des connaissances prévues par l’article L.6313-1.6° du Code du travail.
        </p>
        <p>
          Elle a pour objectif d’apporter des connaissances fondamentales en langages de programmation web front end et back end.
        </p>
        <p>
          La formation professionnelle se déroulera sur une période de 9 semaines, à temps plein du lundi au vendredi inclus, soit un total de 45 jours ouvrés. La progression pédagogique se fait sur 9 semaines à temps plein (5 jours par semaine, 8h/jour, de 9h à 13h et de 15h à 19h), soit sur un total de 360 heures.
        </p>
        <p>
          A l’issue de la formation professionnelle, une attestation de formation sera délivrée au stagiaire.
        </p>
      </div>
      <div class="padded-small text-justify">
        <h4>
          <strong>
            Article 3 : Programme de la formation professionnelle
          </strong>
        </h4>
        <p>Le contenu de la formation professionnelle est le suivant :</p>
        <p><strong>Semaines 1 et 2 :</strong></p>
        <p>
          Soumettre son code sur Github et utiliser le versionnement a partir du terminal a partir de Git ;
          Installer un environnement de développement sur son ordinateur ;
          Découvrir les méthodes, utiliser IRB et la documentation Ruby
          Comprendre les variables et leur utilisation, appeler des fonctions depuis des scripts externes ;
          Apprendre les tableaux, les itérateurs, les blocks, les « hash », les « symbol », les « regexp ;
          Apprendre a parcourir et à stocker des données ;
          Utiliser la concaténation et l’interpolation ;
          Apprendre le flow d’un programme, découvrir les structures en If et While.
        </p>
        <p><strong>Semaines 3 et 4 :</strong></p>
        <p>
          Définir une classe
          « getters » et « setters », apprentissage de ces méthodes
          Basiques de la programmation orientée objet, exposer un objet
          Le concept d’héritage
          La différence classe / instance, la méthode de classe « self »
          Exercices d’application
        </p>
        <p><strong>Semaines 5 et 6 :</strong></p>
        <p>
          Dessiner une base de données
          Interagir avec une base de données
          Utilisation de  la gem sqlite3
          Les requêtes SQL
          Le CRUD (Create, Read, Update, Delete)
          Comprendre le schéma MVC (Model, Vue, Controlleur) sur Ruby on Rails
          Générer une application Rails et comprendre son architecture
          Chercher et installer une GEM, découvrir l’open source pour connaître la valeur d’une GEM
          Naviguer et personnaliser une application Rails.
        </p>
        <p><strong>Semaine 7 :</strong></p>
        <p>
          HTML (balises, tags, id, classes, propriétés, structure d’une page html)
          CSS (propriétés, mise en forme, théorie des couleurs, positionnement, polices, sélecteurs)
          JQUERY/ JavaScript (sélecteurs, actions)
          Bootstrap (découvrir la librairie bootstrap et l’utiliser en pratique)
        </p>
        <p><strong>Semaines 8 et 9 :</strong></p>
        <p>
          Mise en application de l’ensemble des connaissances acquises au cours de la formation professionnelle dans le cadre de la mise en développement et en production de projets personnels.
          Déploiement du site sur heroku
        </p>
      </div>
      <div class="padded-small text-justify">
        <h4>
          <strong>
            Article 4 : Niveau de connaissances préalables nécessaire avant l’entrée en formation professionnelle
          </strong>
        </h4>
        <p>
          La formation professionnelle s’adresse à des débutants en programmation informatique. Aucun prérequis en programmation n’est demandé. Le stagiaire doit posséder une bonne maitrise de windows et/ou mac os x et avoir une bonne connaissance d’internet. Ce dernier doit également avoir un niveau d’anglais intermédiaire.
        </p>
      </div>
      <div class="padded-small text-justify">
        <h4>
          <strong>
            Article 5 : Organisation de l’action de formation professionnelle
          </strong>
        </h4>
        <p>
          L’action de formation professionnelle aura lieu sur une période de 9 semaines.
          Les formateurs, outre intervenants ponctuels sur des sujets précis de spécialisation, mentors et tuteurs, sont Monsieur Boris Paillard et Monsieur Sebastien Saunier
          Les conditions générales dans lesquelles la formation professionnelle est dispensée, notamment les moyens pédagogiques et techniques, les modalités de contrôle de connaissances, sont les suivantes :
        </p>
        <p>
          Les stagiaires ont accès pendant et après les interventions à un support pédagogique leur permettant de réviser les points qui ont été abordés pendant la session de formation. Des exercices pratiques leurs seront soumis quotidiennement durant la formation.
        </p>
        <p>
          Les sessions théoriques sont jumelées à des travaux pratiques exécutés par les stagiaires. Des séances à l'occasion desquelles les stagiaires pratiqueront la programmation en binôme seront organisées régulièrement.
        </p>
      </div>
      <div class="padded-small text-justify">
        <h4>
          <strong>
            Article 6 : Effectifs
          </strong>
        </h4>
        <p>Le programme compte un effectif de 40 stagiaires.</p>
      </div>
      <div class="padded-small text-justify">
        <h4>
          <strong>
            Article 7 : Délai de rétractation
          </strong>
        </h4>
        <p>
          A compter de la date de signature du présent contrat, le stagiaire dispose d’un délai de quatorze (14) jours pour se rétracter. Il en informe l’organisme de formation professionnelle par lettre recommandée avec accusé de réception. Dans ce cas, aucune somme ne peut être exigée du stagiaire.
        </p>
      </div>
      <div class="padded-small text-justify">
        <h4>
          <strong>
            Article 8 : Dispositions financières
          </strong>
        </h4>
        <p>
          Le prix de l’action de formation professionnelle est fixé à 5.000 euros HT + 1.000 euros de TVA à 20% soit un total de 6.000 euros (quatre mille cinq cents euros) TTC.
        </p>
        <p>
          Un acompte correspondant à 30% de la somme énoncée ci-dessus, soit 2.000 euros TTC sera versé à l’expiration du délai de rétractation de 14 (quatorze) jours suivant la signature du présent contrat.
        </p>
      </div>
      <div class="padded-small text-justify">
        <h4>
          <strong>
            Article 9 : Modalités d’évaluation des acquis des stagiaires
          </strong>
        </h4>
        <p>
          Tout au long de la formation professionnelle, les stagiaires seront amenés à compléter des exercices quotidiennement.
        </p>
        <p>
          Le stagiaire doit avoir validé au moins 60 exercices sur les exercices proposés lors de formation.
        </p>
      </div>
      <div class="padded-small text-justify">
        <h4>
          <strong>
            Article 10 : Interruption du stage
          </strong>
        </h4>
        <p>
          Si le stagiaire est empêché de suivre la formation professionnelle par suite de force majeure dûment reconnue, le contrat de formation professionnelle est résilié. Dans ce cas, seules les prestations effectivement dispensées sont dues au prorata temporis de leur valeur prévue au présent contrat.
        </p>
      </div>
    </div>
  </div>
</div>
