<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('https://d1gofzrmx0fcbg.cloudfront.net/production/stories/pictures/000/000/004/cover/cover-olivier.jpg?1446745432" style="background-position: center">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1 class='glitch'>
          Le Wagon Hiring Network
        </h1>
        <p>
          Join us as hiring partners. <strong>Work with our alumni</strong>.
        </p>
      </div>
    </div>
    <div class='banner-cta'>
    <a href="#" class='banner-cta-item btn-danger' style="padding: 30px 35px;font-size: 20px;margin-left:0;">Join the network</a>
    </div>
  </div>
</div>

<div id="employers-why-overlay">
  <div class="container">
    <h2 class="section-title-home section-title-home-small">
      <div class="section-title-home-content">
        Why join our network?
      </div>
    </h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <p class="employers-why-text">
          Le Wagon's Network allows fast-growing companies to hire directly from our alumni community and meet with them on a quarterly basis. face-to-face.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class='alumni-strength'>
          <div class='alumni-strength-header'>
            <h2 class='alumni-strength-title'>
              <%= render "shared/unique" %>
              Exceptional people
            </h2>
          </div>
          <div class='alumni-strength-body'>
            <p>
              Our students have dedicated two months of their life to learn programming, usually after a first 5-year education cycle. They have spent more than 360 hours coding during the program. Very rare to find individuals with such commitment.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
      <div class='alumni-strength'>
        <div class='alumni-strength-header'>
          <h2 class='alumni-strength-title'>
            <%= render "shared/various_background" %>
            With unique backgrounds
          </h2>
        </div>
        <div class='alumni-strength-body'>
          <p>
            Most our students come from the very best business and engineering schools worlwide. They already have excellent working methodology. But our alumni are also designers, journalists, photographers, with very different skills.
          </p>
        </div>
      </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class='alumni-strength'>
            <h2 class='alumni-strength-title'>
              <%= render "shared/operational" %>
              Operational from day one
            </h2>
          </div>
          <div class='alumni-strength-body'>
            <p>
              Our students have shipped ruby on Rails applications. They know the best practices to work in a tech startup. They can implement features from day one as a junior dev. As a PM or a growth marketer, they will be great at connecting business issues with tech developments.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render "shared/positions" %>


<div class="banner-container">
  <div class="banner banner-top banner-gradient text-center" style="background-image: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url('https://www.lewagon.com/assets/banners/8-5b3b011984d37ac59320d66c6c58f064930c59b9651ca53db7a6c3d2d283c67f.jpg'); height: 80vh; background-position: center;" id="banner-city">
    <div>
      <h3 style="font-size: 40px;">Want to be part of our network?</h3>
      <p style="margin-bottom: 10px;font-size: 20px">Sign up to get alerts about our candidates and coming job events.</p>
      <a href="#" class="btn btn-danger btn-lg employers-apply" style="padding: 30px 35px;font-size: 20px">Join our network</a>
    </div>
  </div>
</div>

<div id="employers-upcoming events">

</div>
