<div style="background-image: linear-gradient(-180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%), url(<%= image_path 'officials/students-10.jpg' %>); background-size:cover;background-position-y: center" id="invitation-banner">
  <div class="banner-enterprise">
    <div class="banner-content">
      <h1>
        Learn to code online.
      </h1>
      <p>
        Ask for an invitation for Le Wagon’s free online course and learn HTML/CSS, Github and all the tech skills useful for an entrepreneur.
      </p>
     <!--  <div class="discount-invitation">
        <span style="text-decoration: line-through">100€</span>
        <span>Free for first 500 participants</span>
      </div> -->
      <div class="invitation">
        <div class="form-invitation">
          <input type="email" placeholder="your email" class="form-control">
          <input type="submit" value="Receive my invitation" class="btn btn-danger">
        </div>
      </div>
    </div>
  </div>
  <%= image_tag "officials/screenshot.png", width: "700px" %>

</div>
