<%= content_for(:title) { "TBD."}       %>
<%= content_for(:description) { "TBD." } %>
<%= content_for(:image_url) { image_url 'social/tbd.png' } %>

<div class="container">
  <h1>Codez votre première application React</h1>
  <div class="circles">
  <div></div>
  <div></div>
  <div></div>
  <span></span>
</div>
  <small>Construisez vos composants web d'une manière plus efficace grace à la libraire ReactJS, maîtrisez Redux et JSX6.</small></h1>
</div>
