<%= content_for(:title)       { t ".title" }       %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <h2 class="text-center">
        <strong>
          Validation des Acquis de l'Expérience
        </strong>
      </h2>
      <div class="padded-small text-justify">
        <h4>
          <strong>
            1- Les conditions de recevabilité de la demande des candidats
          </strong>
        </h4>
        <div>
          Les conditions de recevabilité sont les suivantes : « Toute personne, quels que soient son âge, sa nationalité, son statut et son niveau de formation, qui justifie d'au moins 1 an d'expérience en rapport direct avec la certification visée, peut prétendre à la VAE. Cette certification qui peut être un diplôme, un titre ou un certificat de qualification professionnelle doit être inscrite au Répertoire national des certifications professionnelles (RNCP) ». (<a href="http://www.vae.gouv.fr/">http://www.vae.gouv.fr/</a>)
        </div>
      </div>
      <div class="padded-small text-justify">
        <h4>
          <strong>
            2- Exemples de preuves sur lesquelles se base le jury, au regard des compétences décrites
          </strong>
        </h4>
        <div>
          <ul>
            <li>Fiches de paie</li>
            <li>Porte-folio</li>
            <li>Lettres de recommandation d'employeurs ou de clients</li>
            <li>Curriculum Vitae</li>
            <li>Revue du code source (GITHUB = Facebook des développeurs = ils partagent leurs dossiers de code)</li>
            <li>ou tout autre élément que le candidat jugera pertinent</li>
          </ul>
        </div>
      </div>
      <div class="padded-small text-justify">
        <h4>
          <strong>
            3- En cas de validation partielle
          </strong>
        </h4>
        <p>
          Les compétences composant la certification par la V.A.E. sont les mêmes que celles acquises par la formation.
        </p>
        <p>
          Préconisations que donnera le jury pour l'obtention de la certification dans sa totalité: une expérience complémentaire ou le suivi d'une formation en lien avec les compétences manquantes.
        </p>
        <p>
          La durée de la validation partielle est permanente.
        </p>
      </div>
      <div class="padded-small text-justify">
        <h4>
          <strong>
            4- Description de la procédure de VAE:
          </strong>
        </h4>
        <div class="flex">
          <%= image_tag "misc/vae_process.png" %>
        </div>
      </div>
    </div>
  </div>
</div>
