<% locales = %w(fr pt-BR es zh-CN) + [ nil ] %>

defaults: &defaults
  # If using the asset pipeline, provide the manifest name
  manifest_name: application
  # Else provide the relative path of your CSS file from the /public directory
  # css_path: /path/to/css/from/public/main.css
  routes: <%= [ "/" ] + locales.map { |l| "/#{l}" } +
                AlumniClient.new.city_slugs.map { |slug| locales.map { |l| "/" + [ l, "cities", slug ].compact.join("/") }}.flatten %>

development: &development
  <<: *defaults
  base_url: http://localhost:3000

test:
  <<: *development

production:
  <<: *defaults
  base_url: https://www.lewagon.com
