.posts-index {

  &:before {
    content: '';
    width: 100%;
    height: 660px;
    z-index: -1000;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    transform-origin: left bottom;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0deg, -15deg);
  }

  &:after {
    content: '';
    width: 100%;
    height: 740px;
    z-index: -1001;
    background-image: linear-gradient(-225deg, #FF719A 0%, #FFA99F 48%, #FFE29F 100%);
    transform-origin: right bottom;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0deg, 9deg);
    opacity: 0.4;
  }

  /* COMMON *******************************************************************/

  section {
    padding: 80px 0;

    a {
      text-decoration: none;
    }
  }

  .section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.4em;
    font-size: 2em;

    small {
      font-size: 0.5em;
      text-transform: uppercase;
    }
  }

  .content-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin: 60px auto;
    max-width: 220px;
    font-weight: 900;
    cursor: pointer;
    text-decoration: none;
    background-color: #f2f2f2;
    border-radius: 2px;
    background-color: #f8f8f8;
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
    transition: box-shadow .3s ease;

    &:hover {
      color: #000;
    }
  }

  .postcard {
    margin-top: 2em;
    background-color: #fff;
    box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    border-top: 7px solid #2ecc71;

    .content {
      padding: 15px;
      min-height: 220px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 20px;
      background-color: white;
    }

    .description {
      font-weight: 100;
      font-size: 15px;
      letter-spacing: 0px;
      color: #7D7D7D;
      margin-top: 20px;
    }
    h2 {
      font-size: 19px;
      font-weight: bold;
      line-height: 22px;
    }

    ul {
      display: flex;
      list-style: none;
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 0px;

      li {
        padding: 3px 5px 1px;
        margin-right: 10px;
        background-color: #cdcdcd;
        border-radius: 2px;
        color: white;
        font-size: 0.7em;
        text-transform: capitalize;
      }

      .read-time {
        background: transparent;
        border: 1px solid #cdcdcd;
        color: #8a8a8a;
      }
    }

    p { margin: 0.5em 0; }

    .author {
      font-size: 13px;
      color: #909090;
    }

    .link-img {
      overflow: hidden;
      background-size: cover;
      height: 150px;
      border-radius: 2px 2px 0 0;
      display: block;
      background-position: center;
      position: relative;
    }
    .postcard-filter {
      background: linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%);
      opacity: 0.2;
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
    }

    @media(max-width: $screen-sm-max) {
      .link-img {
        height: 150px;
      }
    }

    .link-post-container {
      text-align: right;
      padding-right: 20px;
    }

    .link-post {
      width: 40px;
      line-height: 40px;
      border-radius: 10px;
      font-size: 20px;
      display: inline-block;
      margin: auto;
      margin-bottom: 1em;
      height: 40px;
      // background-color: #DEDEDE;
      border-radius: 2px;
      text-align: center;
      text-transform: uppercase;
      color: #B3B3B3;
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease;
      border-radius: 50%;

       &:hover{
        text-decoration: none;
        background-color: #57a9ed;
        color: white;
       }
    }

    .infos {
      position: absolute;
      bottom: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 13px;
      border-top: 1px solid #f8f8f8;
      width: 100%;
      text-align: center;
      padding: 4px 0;
    }
  }

  /* BLOG HEADER **************************************************************/

  .blog-header {
    display: flex;
    padding-top: 3em;

    .header-main {
      position: relative;
      padding-right: 10px;
      width: 66.66666%;

      .video-main-wrapper {
        background: black;

        .video-main-container {
          padding: 0;
          height: 100%;

          #play-button {
            position: relative;
            top: 10px;
            transform: inherit;

            &:hover {
              .circle {
                fill: #fff !important;
              }
            }
          }
        }

        .video-wrapper {
          padding-bottom: 53%;
          padding-top: 23px;
          height: 0;
          margin: 40px 0;
          border: 1px solid black;

          .video-container {
            svg {
              position: absolute;
              width: 40px;
              height: 40px;
              top: -40px;
              right: 0;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .header-aside {
      position: relative;
      margin-left: 10px;
      width: 33.33333%;

      a {
        text-decoration: none;
        color: inherit;
      }

      a:nth-of-type(2) {
        display: block;
        margin: 20px 0;
      }

      .header-aside-item {
        display: flex;
        height: 155px;
        border-radius: 2px;
        background-color: white;
        box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
        border-right: 7px solid #f4f4f4;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        &:hover {
          border-color: #2ecc71;
          .aside-item-thumbnail { opacity: 1; }
        }

        .aside-item-thumbnail {
          display: flex;
          width: 33.33333%;
          background-size: cover;
          background-position: center center;
          opacity: 0.8;
          transition: all 0.3s ease-in-out;
        }

        .aside-item-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 20px;
          width: 66.66666%;

          h3 {
            margin-top: 0;
            font-size: 1.6em;
            font-weight: 500;
          }

          ul {
            display: flex;
            list-style: none;
            -webkit-margin-before: 0em;
            -webkit-margin-after: 0em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-start: 0px;

            li {
              padding: 3px 5px;
              margin-right: 10px;
              background-color: #cdcdcd;
              border-radius: 2px;
              color: white;
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }

  /* SECTION - MEDIUM POSTS ***************************************************/
  section.posts {
    position: relative;

    .postcard {
      min-height: 240px;
      background-size: cover;
      background-position: center center;
      overflow: hidden;

      &:hover {
        .content {
          transform: translateY(50%);
          color: #333;
        }
      }

      .content {
        min-height: 234px;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  /* SECTION - VIDEOS *********************************************************/
  section.recorded {
    position: relative;
    padding: 0;
    margin-top: 60px;

    &:before {
      content: '';
      width: 100%;
      height: 760px;
      z-index: -1001;
      background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
      transform-origin: right bottom;
      position: absolute;
      top: -39px;
      left: 0;
      transform: skew(0deg, 3deg);
      opacity: 0.3;
    }

    &:after {
      content: '';
      width: 100%;
      height: 760px;
      z-index: -1001;
      background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
      transform-origin: right bottom;
      position: absolute;
      top: -72px;
      left: 0;
      transform: skew(0deg, -3deg);
      opacity: 0.6;
    }

    .section-title {
      margin: 0 auto 60px;
    }

    .video-thumbnail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      padding: 20px;
      margin-bottom: 30px;
      height: 230px;
      background-color: #333;
      color: white;
      font-size: 1.2em;
      text-align: center;
      text-decoration: none;
      border-radius: 2px;
      background-size: cover;
      background-position: center center;
      box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
      overflow: hidden;

      &:hover {
        #play { fill: #fff !important; }
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.2) 45%);
      }

      svg {
        position: relative;
        width: 30px;
        height: 30px;
        z-index: 1;
      }

      h4 {
        position: relative;
        text-align: left;
        z-index: 1;
      }

      ul {
        display: flex;
        list-style: none;
        position: relative;
        z-index: 1;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;

        li {
          padding: 3px 5px;
          margin-right: 10px;
          background-color: white;
          border-radius: 2px;
          color: #333;
          font-size: 0.6em;
          font-weight: 900;
          text-transform: capitalize;
        }
      }
    }
  }

  /* SECTION - MEDIUM POSTS ***************************************************/
  section.posts-community {
    position: relative;
    padding: 80px 0 0;

    .medium-carousel {
      margin: 60px auto 0;

      .slick-list {
        padding: 0 0 20px;
      }

      .slick-prev:before,
      .slick-next:before {
        color: #333;
      }
    }

    .medium-wrapper {
      padding: 0 10px;
      outline: none;
    }

    .medium-card {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 50px 35px;
      min-height: 480px;
      max-height: 480px;
      background-color: white;
      border-radius: 2px;
      border-top: 7px solid #00ab6c;
      box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
      outline: none;

      &:hover {
        a {
          color: #333;
        }
      }

      img, svg {
        margin: 0 auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }

      span, i {
        margin: 10px;
        font-size: 0.75em;
        opacity:  0.6;
        text-align: center;
      }

      h4 {
        position: relative;
        margin: 45px 0 20px;
        font-weight: 900;
        font-size: 1.3em;
        word-break: normal;
        text-align: center;

        &:before {
          content: "";
          position: absolute;
          width: 30px;
          height: 3px;
          top: -25px;
          left: 50%;
          background-color: #00ab6c;
          transform: translateX(-50%);
        }
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 65px;
        color: #a2a2a2;
        font-weight: 600;
        bottom: 0;
        left: 0;
        border-top: 1px solid #F4F4F4;
      }
    }
  }

  /* SECTION - STORIES & DEMODAYS *********************************************/
  section.more-content {
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 660px;
      z-index: -1000;
      background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
      transform-origin: left bottom;
      position: absolute;
      top: 0;
      left: 0;
      transform: skew(0deg, -15deg);
    }

    &:after {
      content: '';
      width: 100%;
      height: 740px;
      z-index: -1001;
      background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
      transform-origin: right bottom;
      position: absolute;
      top: 0;
      left: 0;
      transform: skew(0deg, 9deg);
      opacity: 0.4;
    }

    .more-content-thumbnail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      padding: 20px;
      margin-bottom: 30px;
      height: 230px;
      background-color: #333;
      color: white;
      font-size: 1.2em;
      text-align: center;
      text-decoration: none;
      border-radius: 2px;
      background-size: cover;
      background-position: top center;
      box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
      overflow: hidden;

      &:hover {
        svg {
          transform: rotate(180deg);
        }
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.2) 45%);
      }

      svg {
        position: relative;
        width: 30px;
        height: 30px;
        z-index: 1;
        transition: all 0.3s ease-in-out;
      }

      h4 {
        position: relative;
        margin-bottom: 5px;
        text-align: left;
        z-index: 1;
      }

      span {
        display: block;
        position: relative;
        font-size: 0.8em;
        text-align: left;
        color: white;
        z-index: 1;
        opacity: 0.9;
      }
    }

    .more-content-thumbnail:nth-of-type(1) { margin-left: 10px; }
    .more-content-thumbnail:nth-of-type(2) { margin-right: 10px; }
  }
}

/* SHOW - VIDEO ***************************************************************/
.video-layout {
  padding-bottom: 4em;

  &:before {
    content: '';
    width: 100%;
    height: 660px;
    z-index: -1000;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    transform-origin: left bottom;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0deg, -15deg);
  }

  &:after {
    content: '';
    width: 100%;
    height: 740px;
    z-index: -1001;
    background-image: linear-gradient(-225deg, #FF719A 0%, #FFA99F 48%, #FFE29F 100%);
    transform-origin: right bottom;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0deg, 9deg);
    opacity: 0.4;
  }

  .video-main-wrapper {
    margin-top: 20px;
    border-radius: 2px 2px 0 0 !important;
  }

  .video-description {
    display: flex;
    position: relative;
    margin: 0 auto;
    max-width: 820px;
    background-color: white;
    border-top: 7px solid #2ecc71;
    border-radius: 0 0 2px 2px;
    box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 2;

    .more-links {
      width: 25%;
      background-color: #f4f4f4;


      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        height: 100%;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 0px;

        li {
          height: 33.33333%;
          font-size: 0.7em;
          font-weight: 500;
          text-transform: uppercase;

          a {
            display: flex;
            height: 100%;
            width: 100%;
            padding: 0 25px;
            align-items: center;

            &:hover {
              text-decoration: none;
              color: #333;
              background-color: #eaeaea;
            }
          }
        }

        li:nth-of-type(2) {
          border-top: 1px solid #ececec;
          border-bottom: 1px solid #ececec;
        }
      }
    }

    .video-info {
      padding: 20px;
      width: 75%;

      h1 {
        margin: 0 0 10px;
        font-size: 1.5em;
        font-weight: 900;
      }

      i {
        display: flex;
        margin: 10px 0;
        font-size: 0.7em;
        opacity: 0.9;
        font-style: normal;
      }

      span {
        display: flex;
        margin-top: 20px;
        font-weight: 100;
        font-size: 15px;
        letter-spacing: 0px;
        color: #7D7D7D;
      }
    }
  }

  .more-videos {
    margin: 60px auto 0;
    max-width: 820px;

    .section-title {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
      line-height: 1.4em;
      font-size: 2em;

      small {
        font-size: 0.5em;
        text-transform: uppercase;
      }
    }
  }
}

/* SHOW - POST ****************************************************************/
.blog-post {
  padding-bottom: 4em;

  h1 {
    font-size: 27px;
    font-weight: bold;
  }
  p {
    line-height: 24px;
    font-weight: 200;
    color: $gray-darker;
  }
  h2 {
    font-size: 19px;
    font-weight: bold;
  }
  img {
    max-width: 100%;
  }
  a {
    color: $blue;
  }
  iframe {
    width: 100% !important;
  }
}


.posts h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 2em 0;
}

.medium-postcard {
  text-align: left; // <a /> while loading.
}
