.posts-index {

  &:before {
    content: '';
    width: 100%;
    height: 660px;
    z-index: -1000;
    //background: linear-gradient(160deg, #02CCBA 0%, #AA7ECD 100%);
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    transform-origin: left bottom;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: skew(0deg, -15deg);
    -moz-transform: skew(0deg, -15deg);
    -ms-transform: skew(0deg, -15deg);
    -o-transform: skew(0deg, -15deg);
    transform: skew(0deg, -15deg);
  }

  &:after {
    content: '';
    width: 100%;
    height: 740px;
    z-index: -1001;
    //background: linear-gradient(160deg, #02CCBA 0%, #AA7ECD 100%);
    background-image: linear-gradient(-225deg, #FF719A 0%, #FFA99F 48%, #FFE29F 100%);
    transform-origin: right bottom;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0deg, 9deg);
    opacity: 0.4;
  }

  /* COMMON *******************************************************************/

  .postcard {
    margin-top: 2em;
    background-color: #fff;
    box-shadow: 1px 1px 3px #EAEAEA;
    border-radius: 2px;

    .content {
      padding: 15px;
      min-height: 220px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 20px;
    }
    .description {
      font-weight: 100;
      font-size: 15px;
      letter-spacing: 0px;
      color: #7D7D7D;
      margin-top: 20px;
    }
    h2 {
      font-size: 19px;
      font-weight: bold;
      line-height: 22px;
    }
    p { margin: 0.5em 0; }

    .author {
      font-size: 13px;
      color: #909090;
    }

    .link-img {
      overflow: hidden;
      background-size: cover;
      height: 150px;
      border-radius: 2px 2px 0 0;
      display: block;
      background-position: center;
      position: relative;
    }
    .postcard-filter {
      background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Chrome 10+, Saf5.1+ */
      background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* FF3.6+ */
      background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
      background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
      background:         linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* W3C */
      opacity: 0.2;
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
    }

    @media(max-width: $screen-sm-max) {
      .link-img {
        height: 150px;
      }
    }

    .link-post-container {
      text-align: right;
      padding-right: 20px;
    }

    .link-post {
      width: 40px;
      line-height: 40px;
      border-radius: 10px;
      font-size: 20px;
      display: inline-block;
      margin: auto;
      margin-bottom: 1em;
      height: 40px;
      // background-color: #DEDEDE;
      border-radius: 2px;
      text-align: center;
      text-transform: uppercase;
      color: #B3B3B3;
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease;
      border-radius: 50%;

       &:hover{
        text-decoration: none;
        background-color: #57a9ed;
        color: white;
       }
    }

    .infos {
      position: absolute;
      bottom: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 13px;
      border-top: 1px solid #f8f8f8;
      width: 100%;
      text-align: center;
      padding: 4px 0;
    }
  }

  /* BLOG HEADER **************************************************************/

  .blog-header {
    display: flex;
    padding-top: 3em;

    .header-main {
      position: relative;
      padding-right: 10px;
      width: 66.66666%;

      .main-wrapper {
        position: relative;
        overflow: hidden;
        height: 100%;
        border-radius: 8px;
        background: black;
        box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);

        .main-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;
          height: 100%;
          background-size: cover;
          color: white;

          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.2) 45%);
            z-index: 1;
          }

          h2, span, i, a {
            position: relative;
            z-index: 2;
          }

          span {
            max-width: 420px;
            text-align: center;
            font-weight: 100;
            opacity: 0.9;
          }

          i {
            margin-top: 10px;
            font-size: 0.7em;
            font-weight: 100;
            font-style: normal;
          }

          /* Animated Play Button */
          .play-button {
            margin-top: 13px;
            cursor: pointer;
          }

          .play-button svg {
            width: 60px;
            height: 60px;
          }

          .play-button .play {
            fill: #fff;
            transform-origin: center center;
            transition: transform 0.2s cubic-bezier(0.12, 0.16, 0.46, 0.99);
          }

          .play-button .circle {
            fill:none;
            stroke:#fff;
            stroke-linecap:round;
            stroke-linejoin:round;
            stroke-miterlimit:10;
            stroke-width: 1;
          }

          .play-button .circle-outer {
            stroke: #FF719A;
            stroke-width: 2;
            stroke-dasharray: 175;
            stroke-dashoffset: 175;
            transform: rotate(-90deg);
            transform-origin: center center;
            animation: play 7s cubic-bezier(0.3, 0, 1, 1) forwards infinite;
          }

          .play-button:hover {
            .play-button .play {
              transform: scale(1.1);
            }
          }
        }

        @keyframes play {
          to {
            stroke-dashoffset: 0;
          }
        }
      }

      .video-wrapper {
        border-color: black;

        svg {
          position: absolute;
          width: 35px;
          height: 35px;
          right: 1px;
          top: -37px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .header-aside {
      position: relative;
      margin-left: 10px;
      width: 33.33333%;
      background-color: white;
      border-radius: 8px;
      box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
      overflow: hidden;

      .postcard {
        position: relative;
        margin-top: 0;
        border-left: 1px solid white;
        border-radius: 0;
        transition: all 0.3s ease-in-out;

        &:hover {
          border-left: 7px solid #2ecc71;

          .content {
            h2 {
              opacity: 1;
            }

            .author {
              right: 20px;
              opacity: 1;
            }
          }

          .postcard-info {
            right: -72px;
          }
        }

        a {
          text-decoration: none;
          color: inherit;
        }

        .content {
          display: flex;
          flex-direction: column;
          justify-content: inherit;
          align-items: inherit;
          min-height: 160px;
          transition: all 0.3s ease-in-out;

          h2 {
            position: relative;
            font-size: 1em;
            z-index: 1;
            opacity: 0.8;
            font-style: normal;
            text-transform: uppercase;
            font-weight: 600;
          }

          p {
            margin: 0;
            max-width: 329px;
            font-size: 14px;
          }

          .author {
            position: absolute;
            bottom: 7px;
            right: 27px;
            font-size: 12px;
            transition: all 0.3s ease-in-out;
            opacity: 0.6;
          }
        }
      }

      article:nth-of-type(2) {
        border-top: 1px solid #f4f4f4;
        border-bottom: 1px solid #f4f4f4;
      }
    }
  }

  /* BLOG HEADER **************************************************************/

  .posts-community {
    padding: 80px 0;
  }
}





.blog-post {
  padding-bottom: 4em;
  h1 {
    font-size: 27px;
    font-weight: bold;
  }
  p {
    line-height: 24px;
    font-weight: 200;
    color: $gray-darker;
  }
  h2 {
    font-size: 19px;
    font-weight: bold;
  }
  img {
    max-width: 100%;
  }
  a {
    color: $blue;
  }
  iframe {
    width: 100% !important;
  }
}


.posts h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 2em 0;
}

.medium-postcard {
  text-align: left; // <a /> while loading.
}
