.navbar-wagon {
  // box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: transparent;
  transition: all 0.3s ease;
  padding: 30px 0;
  z-index: 2;
  position: relative;
  &-fixed {
    position: absolute;
    z-index: 1;
    width: 100%;
  }
  &-logo {
    width: 50px;
    height: 50px;
    path, circle, rect {
      fill: white;
    }
  }
  &-container {
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;

    @media (max-width: $screen-md) {
      justify-content: left;
    }
  }
  &-item {
    flex: 0 1 auto;
    cursor: pointer;
    padding: 0 10px;
  }
  &-spacer {
    flex: 1 1 auto;
  }
  &-link {
    font-weight: $font-weight-semi-bold;
    letter-spacing: -0.1px;
    opacity: 0.8 !important;

    &:hover {
      color: white;
      text-decoration: none;
    }
    &:focus {
      color: white;
      text-decoration: none;
    }
  }
  &-button {
    margin-left: 10px;
    padding: 0 20px;
    border-radius: 20em;
    line-height: 40px;
    background-color: #D23333;
    color: white;
    font-size: 14px;
    border: 2px solid $brand-color;

    &:hover {
      color: white;
      background: $brand-color;
      border-color: darken($brand-color, 10%);
    }
  }
  &-dropdown-menu {
    margin-top: 15px;
    box-shadow: 1px 1px 2px #333333;
    border-color: #E6E6E6;
    li > a {
      transition: color 0.3s ease;
      font-weight: $font-weight-light !important;
      color: #999999 !important;
      font-size: 15px !important;
      line-height: 22px !important;
      padding: 10px 20px;
      &:hover {
        background: transparent !important;
        color: black !important;
      }
    }
    &:before {
      content: ' ';
      height: 10px;
      width: 10px;
      position: absolute;
      right: 10px;
      top: -6px;
      background-color: white;
      transform: rotate(45deg);
      border-left: 1px solid #E6E6E6;
      border-top: 1px solid #E6E6E6;
    }
  }
  hr {
    height: 12px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.4;

    border: none;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.navbar-wagon-link-menu {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  opacity: .2;
  display: block;
  background-color: black;
  box-shadow: 12px 0px 0 black, 24px 0px 0 black;

  &-wrapper {
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    cursor: pointer;
    @media (max-width: $screen-md) {
      float: right;
      position: relative;
      right: 27px;
    }
  }
}

.full-item > .navbar-wagon-link-menu-wrapper {
  right: 0;

  @media (max-width: $screen-sm) {
    display: none;
  }
}

.navbar-wagon-side {
  flex: 1;
  display: flex;
  align-items: center;

  @media(max-width: $screen-md) {
    flex: 1;
    text-align: right;
    order: 3;
  }

  @media(max-width: $screen-md) {
    &>.dropdown {
      margin-left: auto;
      position: relative;
      left: 12px;
    }
  }

}

.navbar-wagon-items {
  margin: auto;
  display: flex;
  align-items: center;


  @media (max-width: $screen-md) {
    margin: inherit;
  }
}

.navbar-wagon-item {
  &.has-no-padding {
    padding: 0 !important;
  }
}

.navbar-wagon-link-cta {
  background-color: #f2f2f2;
  border: 1px solid rgb(242, 242, 242);
  color: rgba(0, 0, 0, 0.38);
  padding: 9px 12px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 2px;

  background-color: #f8f8f8;
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  color: #222;
  text-decoration: none;
  opacity: .8;
  transition: box-shadow .3s ease;
  &:active {
    box-shadow: 0;
  }
  &:hover {
    color: #222;
    text-decoration: none;
    opacity: 1;

    // background-color: #f8f8f8;
    // background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    // border: 1px solid #c6c6c6;
    // box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    // color: #222;
    // text-decoration: none;
  }
}

.navbar-wagon-white {
  background: rgba(255, 255, 255, 1);
  padding: 30px 0;
  .navbar-wagon-link {
    color: black;
    opacity: 0.6;
    font-size: 14px;
    text-transform: uppercase;

    &:hover {
      color: black;
      text-decoration: none;
    }
    &:focus {
      color: black;
      text-decoration: none;
    }
  }
  .navbar-wagon-logo {
    width: 50px;
    height: 50px;
    background-color: #D23333;
    border-radius: 50%;
    padding: 7px;
    path, circle, rect {
      fill: white;
    }
  }
  hr {
    height: 12px;
    width: 1px;
    background-color: black;
    border: none;
    opacity: 0.1;
    margin-left: 20px;
    margin-right: 20px;

    &.fake-hr {
      opacity: 0;
      @media (max-width: $screen-md) {
        opacity: 0.1;
      }
    }
  }
}

@media (max-width: $screen-md) {
  .wagon-link {
    order: -1;
    margin-right: 20px;
  }
}

.flag-container {
  display: flex;
  align-items: center;

  a {
    cursor: pointer;
    opacity: 1;
    &:hover {
      text-decoration: none;
      opacity: 1 !important;
    }
  }

  .separator {
    margin-left: 5px;
    margin-right: 5px;
    opacity: .1;
  }

  svg {
    width: 20px;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.07));
  }
}

.dropdown {
  .flag-container {
    padding: 10px 20px;
  }
}

.dropdown-menu {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25),0 0 1px rgba(0, 0, 0, 0) !important;

  & > li > a {
    font-weight: 100;
    padding: 5px 20px;

    &:hover {
      opacity: 1;
    }
  }
  .main a { font-weight: bold !important; }
  .marged-bottom { margin-bottom: 0.8em; }
  .flags-smartphone {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    svg {
      width: 25px;
      margin: 0 10px;
    }
  }
}


.navbar-wagon-dropdown-menu:before {
  content: none !important
}
.navbar-wagon {
  .dropdown-menu {
    @media (max-width: $screen-md) {
      right: 0;
      width: 200px;
      left: -195px;
    }

    li > a {
      overflow: hidden;
      text-overflow: ellipsis;
    }

    li.main { a { opacity: 1 } }
  }
}

.header-fixed {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  top: 0;
  transform: translateY(-105%);
  transition: transform .3s ease, opacity .9s ease;
  transition-delay: 1s, 0s;
  opacity: 1;

  &-logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 3px;
    margin: auto;
    width: 40px;
  }

  &.is-active {
    opacity: 1;
    transform: translateY(0%);
  }
}

.header-inner {
  background: white;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 0 1px rgba(0,0,0,0.44);
  align-items: center;
  display: flex;
  height: 52px;
  padding: 12px;

  &>.container {
    align-items: center;
    @media (max-width: $screen-sm) {
      flex: 1;
    }
  }
}

.header-inner-cta {
  margin-left: auto;
}

.wagon-link {
  svg {
    width: 40px;
    height: 40px;

    background-color: #D23333;
    border-radius: 50%;
    padding: 5px;
    position: relative;
    top: 2px;
  }
}

.applies-new {
  .header-fixed {
    display: none;

    .wagon-link {
      position: relative;
      top: 1px;
    }
  }
}

.header-fixed-logo {
  @media (max-width: $screen-sm) {
    right: inherit;
    margin-left: 20px;
  }
}

.online-program-header svg {
  height: 13px;
  vertical-align: -1px;
}

.new {
  background-color: $brand-color;
  color: white;
  border-radius: 3px;
  font-size: 11px;
  font-weight: bold;
  padding: 4px;
  vertical-align: 2px;
}

a.live-on {
  border: 1px solid $brand-color;
  color: $brand-color;
  font-weight: 300;
  border-radius: 5px;
  font-size: 12px;
  padding: 4px 5px;
  margin-left: 12px;
  opacity: 0.9;

  &:hover {
    text-decoration: none;
    color: $brand-color;
    opacity: 1;
  }
}

.dot {
  animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}

#languageMenuToggle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #d6d6d6;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0px 2px #d8d8d8;
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  &:hover {
    background-image: linear-gradient(top, darken(#f8f8f8, 10%), darken(#f1f1f1, 10%));
    color: black;
    cursor: pointer;
  }
  svg {
    margin-right: 10px;
  }
}
#languageMenu {
  padding: 0px;
  a {
    display: flex;
    align-items: center;
    font-weight: 100;
    padding: 10px;
    p {
      padding-top: 3px;
      padding-left: 10px;
      font-size: 14px;
      margin: 0px;
    }
  }
  a.active {
    text-decoration: none;
    color: #262626;
    font-weight: bold;
    background-color: #f5f5f5;
    opacity: 1;
  }
  .header {
    padding: 10px;
    font-size: 13px;
    margin: 0px;
    font-weight: bold;
  }
}

.dropdown-header {
  display: block;
  padding: 10px 20px;
  font-size: 15px;
  line-height: 1.4;
  color: #777777;
  white-space: nowrap;
  background: #363636;
  color: white;
}

.dropdown-menu > li > a {
  padding: 10px 20px;
}
.dropdown-menu > li > a:hover {
  color: black;
  font-weight: 900;
}
