.filter-container {
  display: flex;
  justify-content: center;
  padding: 30px 25px;

  @media (max-width: 767px) {
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    width: 750px;
    height: 70px;
    border-radius: 2px;
    background: white;
    box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);

    li {
      width: 25%;
      height: 100%;
      border-left: 1px solid #f4f4f4;
      border-bottom: 7px solid #f4f4f4;

      &:hover {
        cursor: pointer;
        border-bottom: 7px solid #cdcdcd;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
      }
    }

    li:nth-of-type(1) {
      border-left: none;
    }

    .filter-active {
      border-bottom: 7px solid #2ecc71;

      &:hover {
        cursor: pointer;
        border-bottom: 7px solid #23c367;
      }
    }
  }
}

/* SPECIFICS ******************************************************************/

.posts-videos {
  &:before {
    content: '';
    width: 100%;
    height: 660px;
    z-index: -1000;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    transform-origin: left bottom;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0deg, -15deg);
  }

  &:after {
    content: '';
    width: 100%;
    height: 740px;
    z-index: -1001;
    background-image: linear-gradient(-225deg, #FF719A 0%, #FFA99F 48%, #FFE29F 100%);
    transform-origin: right bottom;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0deg, 9deg);
    opacity: 0.4;
  }

  section {
    padding: 80px 0;

    #videos-container {
      margin-top: 30px;
    }
  }

  h3 {
    margin: 0 auto 30px;
    max-width: 520px;
    text-align: center;
    color: white;

    small {
      color: black;
    }
  }
}

.posts-all {

  &:before {
    content: '';
    width: 100%;
    height: 660px;
    z-index: -1000;
    background-image: linear-gradient(to right, #1cd8d2, #93edc7);
    transform-origin: left bottom;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0deg, -15deg);
  }

  &:after {
    content: '';
    width: 100%;
    height: 740px;
    z-index: -1001;
    background-image: linear-gradient(to right, #1cd8d2, #93edc7);
    transform-origin: right bottom;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0deg, 9deg);
    opacity: 0.4;
  }

  h3 {
    margin: 0 auto 30px;
    max-width: 520px;
    text-align: center;
    color: white;

    small {
      color: black;
    }
  }
}