/******************************************************************************/
/* BLOG - INDEX ***************************************************************/
/******************************************************************************/

.posts-index {

  &:before {
    content: '';
    width: 100%;
    height: 660px;
    z-index: -1000;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    transform-origin: left bottom;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0deg, -15deg);
  }

  &:after {
    content: '';
    width: 100%;
    height: 740px;
    z-index: -1001;
    background-image: linear-gradient(-225deg, #FF719A 0%, #FFA99F 48%, #FFE29F 100%);
    transform-origin: right bottom;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0deg, 9deg);
    opacity: 0.4;
  }

   /* INDEX - HEADER **********************************************************/

  .blog-header {
    display: flex;
    padding-top: 3em;

    .header-main {
      position: relative;
      padding-right: 10px;
      width: 66.66666%;

      .video-main-wrapper {
        background: black;

        .video-main-container {
          padding: 0;
          height: 100%;

          #play-button {
            position: relative;
            top: 10px;
            transform: inherit;

            &:hover {
              .circle {
                fill: #fff !important;
              }
            }
          }
        }

        .video-wrapper {
          padding-bottom: 53%;
          padding-top: 23px;
          height: 0;
          margin: 40px 0;
          border: 1px solid black;

          .video-container {
            svg {
              position: absolute;
              width: 40px;
              height: 40px;
              top: -40px;
              right: 0;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    .header-aside {
      position: relative;
      margin-left: 10px;
      width: 33.33333%;

      a {
        text-decoration: none;
        color: inherit;
      }

      a:nth-of-type(2) {
        display: block;
        margin: 20px 0;
      }

      .header-aside-item {
        display: flex;
        height: 155px;
        border-radius: 2px;
        background-color: white;
        box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
        border-right: 7px solid #f4f4f4;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        &:hover {
          border-color: #2ecc71;
          .aside-item-thumbnail { opacity: 1; }
        }

        .aside-item-thumbnail {
          display: flex;
          width: 33.33333%;
          background-size: cover;
          background-position: center center;
          opacity: 0.8;
          transition: all 0.3s ease-in-out;
        }

        .aside-item-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 20px;
          width: 66.66666%;

          h3 {
            margin-top: 0;
            font-size: 1.6em;
            font-weight: 500;
          }

          ul {
            display: flex;

            li {
              padding: 3px 5px;
              margin-right: 10px;
              background-color: #cdcdcd;
              border-radius: 2px;
              color: white;
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }

  /* SECTION - POSTS **********************************************************/

  section.posts {
    position: relative;
  }

  /* SECTION - VIDEOS *********************************************************/
  section.recorded {
    position: relative;
    padding: 0;
    margin-top: 60px;

    &:before {
      content: '';
      width: 100%;
      height: 760px;
      z-index: -1001;
      background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
      transform-origin: right bottom;
      position: absolute;
      top: -39px;
      left: 0;
      transform: skew(0deg, 3deg);
      opacity: 0.3;
    }

    &:after {
      content: '';
      width: 100%;
      height: 760px;
      z-index: -1001;
      background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
      transform-origin: right bottom;
      position: absolute;
      top: -72px;
      left: 0;
      transform: skew(0deg, -3deg);
      opacity: 0.6;
    }

    .section-title {
      margin: 0 auto 60px;
    }
  }

  /* SECTION - MEDIUM POSTS ***************************************************/

  section.posts-community {
    position: relative;
    padding: 80px 0 0;

    .medium-carousel {
      margin: 60px auto 0;

      .slick-list {
        padding: 0 0 20px;
      }

      .slick-prev:before,
      .slick-next:before {
        color: #333;
      }
    }

    .medium-wrapper {
      padding: 0 10px;
      outline: none;
    }
  }

  /* SECTION - STORIES & DEMODAYS *********************************************/

  section.more-content {
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 660px;
      z-index: -1000;
      background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
      transform-origin: left bottom;
      position: absolute;
      top: 0;
      left: 0;
      transform: skew(0deg, -15deg);
    }

    &:after {
      content: '';
      width: 100%;
      height: 740px;
      z-index: -1001;
      background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
      transform-origin: right bottom;
      position: absolute;
      top: 0;
      left: 0;
      transform: skew(0deg, 9deg);
      opacity: 0.4;
    }

    .more-content-thumbnail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      padding: 20px;
      margin-bottom: 30px;
      height: 230px;
      background-color: #333;
      color: white;
      font-size: 1.2em;
      text-align: center;
      text-decoration: none;
      border-radius: 2px;
      background-size: cover;
      background-position: top center;
      box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
      overflow: hidden;

      &:hover {
        svg {
          transform: rotate(180deg);
        }
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.2) 45%);
      }

      svg {
        position: relative;
        width: 30px;
        height: 30px;
        z-index: 1;
        transition: all 0.3s ease-in-out;
      }

      h4 {
        position: relative;
        margin-bottom: 5px;
        text-align: left;
        z-index: 1;
      }

      span {
        display: block;
        position: relative;
        font-size: 0.8em;
        text-align: left;
        color: white;
        z-index: 1;
        opacity: 0.9;
      }
    }

    .more-content-thumbnail:nth-of-type(1) { margin-left: 10px; }
    .more-content-thumbnail:nth-of-type(2) { margin-right: 10px; }
  }
}