/******************************************************************************/
/* BLOG - INDEX ***************************************************************/
/******************************************************************************/

.posts-index {

  &:before {
    content: '';
    width: 100%;
    height: 660px;
    z-index: -1000;
    background-image: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
    transform-origin: left bottom;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0deg, -15deg);
  }

  &:after {
    content: '';
    width: 100%;
    height: 740px;
    z-index: -1001;
    background-image: linear-gradient(-225deg, #FF719A 0%, #FFA99F 48%, #FFE29F 100%);
    transform-origin: right bottom;
    position: absolute;
    top: 0;
    left: 0;
    transform: skew(0deg, 9deg);
    opacity: 0.4;
  }

  h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 740px;
    padding: 0 20px;
    margin: 90px auto 0;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: left;
    letter-spacing: -1px;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);

    @media (max-width: 520px) {
      margin-top: 40px;
      font-size: 2em;
    }

    small {
      margin: 20px auto 0;
      min-width: 100%;
      max-width: 425px;
      font-size: 20px;
      opacity: 0.8;
      color: white;
      text-align: center;
    }

    h3 {
      padding: 20px;
      text-align: center;
    }
  }

   /* INDEX - HEADER **********************************************************/

  .blog-header {
    display: flex;
    flex-direction: column;
    padding-top: 3em;

    .header-main {
      position: relative;

      &:hover {
        cursor: pointer;

        #play-button {
          .circle {
            fill: #fff !important;
          }
        }
      }


      .video-thumbnail {
        height: 520px;

        @media (max-width: 992px) {
          height: 430px;
        }

        @media (max-width: 520px) {
          height: 230px;
        }

        @media (min-width: 768px) {
          svg {
            height: 50px !important;
            width: 50px !important;
          }
        }

        .video-details {
          text-align: left;

          @media (min-width: 768px) {
            h4 {
              width: 60%;
              font-size: 2em;
            }
          }

          i {
            position: relative;
            font-size: 0.8em;
            font-style: normal;
          }
        }
      }
    }

    .header-aside {
      display: flex;
      position: relative;


      @media (max-width: 767px) {
        flex-direction: column;
        margin-top: 30px;

        a:nth-of-type(2) {
          margin-top: 20px;
        }
      }

      a {
        width: 49%;
        text-decoration: none;
        color: inherit;

        @media (max-width: 767px) {
          width: 100%;
        }
      }

      @media (min-width: 768px) {
        a:nth-of-type(1) {
          margin-right: 1%;
        }

        a:nth-of-type(2) {
          margin-left: 1%;
        }
      }

      .header-aside-item {
        display: flex;
        height: 155px;
        border-radius: 2px;
        background-color: white;
        box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
        border-right: 7px solid #f4f4f4;
        overflow: hidden;
        transition: all 0.3s ease-in-out;

        @media (max-width: 520px) {
          border: none;
        }

        &:hover {
          border-color: #2ecc71;
          .aside-item-thumbnail { opacity: 1; }
        }

        .aside-item-thumbnail {
          display: flex;
          width: 33.33333%;
          background-size: cover;
          background-position: center center;
          opacity: 0.8;
          transition: all 0.3s ease-in-out;
        }

        .aside-item-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 20px;
          width: 66.66666%;

          h3 {
            margin-top: 0;
            font-size: 1.6em;
            font-weight: 500;

            @media (max-width: 520px) {
              font-size: 1.35em;
            }
          }

          ul {
            display: flex;

            li {
              padding: 3px 5px;
              margin-right: 10px;
              background-color: #2ecc71;
              border-radius: 2px;
              color: white;
              font-size: 0.7em;
            }
          }
        }
      }
    }
  }

  /* SECTION - POSTS **********************************************************/

  section.posts {
    position: relative;
    padding: 80px 0 40px;

    @media (max-width: 520px) {
      padding: 40px 0;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 750px;
      top: 230px;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(rgba(255,255,255,1) 3%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,1) 90%), asset-url('banners/banner-blog.jpg');
      background-size: cover;
      z-index: -1;
      opacity: 0.6;
    }
  }

  /* SECTION - VIDEOS *********************************************************/
  section.recorded {
    position: relative;
    padding: 0;
    margin: 60px 0 80px;

    &:before {
      content: '';
      width: 100%;
      height: 660px;
      z-index: -1000;
      background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
      transform-origin: left bottom;
      position: absolute;
      top: 100px;
      left: 0;
      transform: skew(0deg, -15deg);
    }

    &:after {
      content: '';
      width: 100%;
      height: 740px;
      z-index: -1001;
      background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
      transform-origin: right bottom;
      position: absolute;
      top: 100px;
      left: 0;
      transform: skew(0deg, 9deg);
      opacity: 0.4;
    }

    .section-title {
      margin: 0 auto 60px;
    }
  }

  /* SECTION - MEDIUM POSTS ***************************************************/

  // section.posts-community {
  //   position: relative;
  //   padding: 80px 0 0;

  //   .medium-carousel {
  //     margin: 60px auto 0;

  //     .slick-list {
  //       padding: 0 0 20px;
  //     }

  //     .slick-prev:before,
  //     .slick-next:before {
  //       color: #333;
  //     }
  //   }

  //   .medium-wrapper {
  //     padding: 0 10px;
  //     outline: none;
  //   }
  // }

  /* SECTION - STORIES & DEMODAYS *********************************************/

  section.more-content {
    position: relative;
    background-color: #f4f4f4;
    padding: 80px 0 0;

    .more-content-thumbnail {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      padding: 20px;
      margin-bottom: 30px;
      height: 230px;
      background-color: #333;
      color: white;
      font-size: 1.2em;
      text-align: center;
      text-decoration: none;
      border-radius: 2px;
      background-size: cover;
      background-position: top center;
      box-shadow: 3px 6px 16px 0px rgba(0, 0, 0, 0.1);
      overflow: hidden;

      &:hover {
        svg {
          transform: rotate(180deg);
        }
      }

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(-225deg, rgba(0, 0, 0, 0.5) 15%, rgba(0, 0, 0, 0.2) 45%);
      }

      svg {
        position: relative;
        width: 30px;
        height: 30px;
        z-index: 1;
        transition: all 0.3s ease-in-out;
      }

      h4 {
        position: relative;
        margin-bottom: 5px;
        text-align: left;
        z-index: 1;
      }

      span {
        display: block;
        position: relative;
        font-size: 0.8em;
        text-align: left;
        color: white;
        z-index: 1;
        opacity: 0.9;
      }
    }

    .more-content-thumbnail:nth-of-type(1) { margin-left: 10px; }
    .more-content-thumbnail:nth-of-type(2) { margin-right: 10px; }
  }
}