/******************************************************************************/
/* SHOW - POST _***************************************************************/
/******************************************************************************/

.breadcrumb {
  margin: 0;

  ul {
    display: flex;

    li {
      position: relative;
      text-transform: uppercase;
      font-size: 12px;
      color: rgba(0,0,0,0.4);

      a:hover {
        text-decoration: underline;
        color: rgba(0,0,0,1);
      }
    }

    li:not(:first-child) {
      margin-left: 20px;

      &:before {
        content: "|";
        position: absolute;
        left: -10px;
      }
    }
  }
}

.posts-show {

  .blog-post {

    /* COMMON *******************************************************************/

    h1 {
      max-width: 740px;
      padding: 0 20px;
      margin-top: 90px;
      font-size: 50px;
      color: white;
      font-weight: bold;
      text-align: left;
      letter-spacing: -1px;
      text-shadow: 0px 2px 0px rgba(0,0,0,0.15);

      @media (max-width: 767px) {
        transform: translateY(0);
      }
    }


    h2 {
      font-size: 23px;
      font-weight: normal;
      margin: 50px 0 30px 0;
      color: black;
    }

    p {
      margin-bottom: 45px;
      font-size: 22px;
      font-weight: 100;
      line-height: 1.4em;
    }

    a {
      color: black;
      text-decoration: underline;
    }

    img {
      margin: 30px 0;
      max-width: 100%;
    }

    .highlight {
      padding: 20px;
      margin: 40px auto;
      border-radius: 2px;

      pre {
        margin: 0;
      }
    }

    /* POST - HEADER ************************************************************/

    .post-header {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 460px;
      background-size: cover;

      &:after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }

      .written-by {
        padding: 0 25px;
        max-width: 748px;
        width: 100%;
        text-align: left;
        font-size: 14px;
        color: white;

        a {
          color: white;
          font-weight: 600;
        }
      }
    }

    /* POST - CONTENT ***********************************************************/

    .post-content {
      max-width: 740px;
      margin: 0 auto;
      padding: 4em 20px 4em 20px;
    }

    /* POST - FOOTER ************************************************************/

    .post-footer {

    }

    h2 {
      font-size: 28px;
      font-weight: 600;
      margin: 50px 0 30px 0;
      color: black;
    }

    .highlight {
      padding: 20px;
      margin: 40px auto;
      border-radius: 2px;

      pre {
        margin: 0;
      }
    }

    iframe {
      width: 100% !important;
    }
  }

  .more-posts {
    padding: 30px 0;
    background-color: #F4F4F4;
  }
}