<div class="container">
  <%
    react_batch = batch.as_json
    react_batch["starts_at"] = l(Time.parse(react_batch["starts_at"]), format: '%B').camelcase
    react_batch["ends_at"] = l(Time.parse(react_batch["ends_at"]), format: '%B %Y').camelcase

    techno_special_names = {
      css3: 'CSS3',
      gmap: 'Google Maps',
      html5: 'HTML5',
      js: 'JavaScript',
      responsive: 'Responsive Web Design'
    }

    technos = Dir.glob(Rails.root.join('app/assets/images/technos').join("*.svg")).reduce({}) do |h, file|
      slug = File.basename(file, ".*")
      h[slug] = {
        icon: File.read(file),
        name: techno_special_names[slug.to_sym] || slug.capitalize
      }
      h
    end
  %>
  <%= react_component 'PlayerContainer', {
    technos: technos,
    videoPlaceholder: image_path('banners/6.jpg'),
    autoPlay: auto_play,
    batch: react_batch,
    demodayPath: demoday_path,
    withSlugDemodayPath: with_slug_demoday_path(product_slug: ':slug'),
    selectedProdutSlug: selected_product_slug,
    product_icon: render('shared/product_icon'),
    flag_icon: render('shared/icon_flag_' + batch.city['course_locale'].underscore.downcase),
    i18n: {
      locale: I18n.locale,
      page_title: t("demoday.show.page_title"),
      page_title_with_selected_product: t("demoday.show.page_title_with_selected_product"),
      product_label: t(".player.product"),
      player_cta: t(".player.cta"),
      project_link: t(".player.project_link"),
      project_techno: t(".player.techno"),
      batch_intro: t(".player.batch_intro_html"),
      no_video: t(".player.no_video")
    }
  }, prerender: prerender %>
</div>

<div class="container">
  <%= react_component 'StudentsTitle', {
    counter: batch.students.count,
    i18n: {
      batch_title: t(".batch_title")
    }
  }, prerender: prerender %>
  <%= react_component "StudentsList", students: batch.students, cover: batch.cover_image, prerender: prerender %>
</div>

<div class="container-fluid container-batch-cover">
  <%= react_component "BatchCover", cover: batch.cover_image, prerender: prerender %>
</div>