<div class="modal fade" tabindex="-1" role="dialog" id="invitationModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
     </div>
      <div class="modal-body text-center">
        <?xml version="1.0" encoding="UTF-8" standalone="no"?>
        <svg width="512px" height="510px" viewBox="0 0 512 510" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 41 (35326) - http://www.bohemiancoding.com/sketch -->
            <title>wedding-invitation</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="wedding-invitation">
                    <g id="Layer_1">
                        <polygon id="Shape" fill="#E0FAF2" points="140.631 60.224 0 175.733 0 509.863 512 509.863 512 175.733 369.02 60.224"></polygon>
                        <polygon id="Shape" fill="#D1E9E2" points="512 175.733 369.02 60.224 256 60.224 256 509.863 512 509.863"></polygon>
                        <g id="letter" transform="translate(80.000000, 0.000000)">
                            <rect id="Rectangle-path" fill="#F4F4F4" x="0.785" y="0.137" width="352.746" height="450.665"></rect>
                            <rect id="Rectangle-path" fill="#ECECEC" x="176.267" y="0.137" width="177.263" height="450.665"></rect>
                            <g id="white_logo_red_circle" transform="translate(85.000000, 39.000000)">
                                <g id="Artboard---Red-Circle">
                                    <g id="Page-1">
                                        <g id="Artboard---Red-Circle">
                                            <path d="M91.0106365,181.794805 C141.161097,181.794805 181.816078,141.139824 181.816078,90.9893635 C181.816078,40.8389027 141.161097,0.183921649 91.0106365,0.183921649 C40.8601757,0.183921649 0.205194514,40.8389027 0.205194514,90.9893635 C0.205194514,141.139824 40.8601757,181.794805 91.0106365,181.794805 Z" id="Red-circle" fill="#D23333"></path>
                                            <g id="Le-Wagon-icon" transform="translate(31.689412, 54.385882)" fill="#FFFFFF">
                                                <path d="M27.1241021,51.3170973 C21.1152001,51.3170973 16.2565441,56.1759883 16.2565441,62.1846554 C16.2565441,68.1935573 21.115435,73.0522132 27.1241021,73.0522132 C33.1327692,73.0522132 37.99166,68.1933224 37.99166,62.1846554 C37.99166,56.1759883 33.1327692,51.3170973 27.1241021,51.3170973 L27.1241021,51.3170973 Z M27.1241021,68.0209147 C23.8753677,68.0209147 21.2016389,65.3471859 21.2016389,62.0984514 C21.2016389,58.8497171 23.8753677,56.1759883 27.1241021,56.1759883 C30.3728364,56.1759883 33.0465652,58.8497171 33.0465652,62.0984514 C33.0465652,65.4333896 30.4590404,68.0209147 27.1241021,68.0209147 L27.1241021,68.0209147 Z" id="Back-wheel"></path>
                                                <path d="M90.1445227,51.3170973 C84.1356208,51.3170973 79.2769646,56.1759883 79.2769646,62.1846554 C79.2769646,68.1935573 84.1358557,73.0522132 90.1445227,73.0522132 C96.1534246,73.0522132 101.012081,68.1933224 101.012081,62.1846554 C101.012315,56.1759883 96.1534246,51.3170973 90.1445227,51.3170973 L90.1445227,51.3170973 Z M90.1445227,68.0209147 C86.8957882,68.0209147 84.2220594,65.3471859 84.2220594,62.0984514 C84.2220594,58.8497171 86.8957882,56.1759883 90.1445227,56.1759883 C93.393257,56.1759883 96.066986,58.8497171 96.066986,62.0984514 C96.0672209,65.4333896 93.3934918,68.0209147 90.1445227,68.0209147 L90.1445227,68.0209147 Z" id="Front-wheel"></path>
                                                <path d="M27.1241021,49.1319353 C34.3692189,49.1319353 40.176822,54.9395383 40.176822,62.1846554 L77.0922724,62.1846554 C77.0922724,54.9395383 82.8998755,49.1319353 90.1449925,49.1319353 C97.3901093,49.1319353 103.197712,54.9395383 103.197712,62.1846554 L116.738999,61.8971525 C116.738999,61.8971525 118.751519,61.2359431 118.751519,57.3257645 C118.751519,53.4158206 116.07779,53.0418792 116.07779,53.0418792 L109.781385,52.9556752 C109.781385,52.9556752 108.944955,48.0681281 103.772483,43.1230333 C98.6000115,38.1779387 91.1799085,38.1779387 91.1799085,38.1779387 L1.45038605,38.5516453 L1.45038605,56.2906136 C1.45038605,56.2906136 0.127967235,55.5143091 0.0417633794,59.1369851 C-0.0449102515,62.673457 1.56501134,62.0984514 1.56501134,62.0984514 L14.0713821,62.1846554 C14.0713821,54.9213747 19.8789851,49.1319353 27.1241021,49.1319353 Z" id="Bottom-frame"></path>
                                                <path d="M115.703613,34.8432354 L115.214812,28.6332693 C115.214812,28.6332693 111.71486,17.2147029 103.319731,8.53207204 L104.650782,8.53207204 C100.822019,0.903537422 70.2779374,0.479831622 59.4392732,0.112946923 C48.3990726,-0.260759708 7.17131547,2.58537685 3.08872907,6.32291294 C1.27750856,7.93283451 1.56501134,10.3192955 1.56501134,10.3192955 L1.56501134,35.216942 L91.2452052,35.2169433 C91.2452052,35.2169433 99.4225264,35.2169433 105.698329,40.2768968 C111.149033,44.671603 112.454644,51.3457537 112.454644,51.3457537 L115.703379,51.3457537 L115.617175,41.5131119 L117.054689,41.5993156 C118.463546,39.4143885 117.888541,35.5906486 116.853625,34.8432354 L115.703613,34.8432354 Z M30.6694998,28.9205372 C30.6694998,29.4093389 30.2957932,29.7830455 29.8069915,29.7830455 L11.6081128,29.7830455 C11.1193111,29.7830455 10.7456045,29.4093389 10.7456045,28.9205372 L10.7456045,10.8940661 C10.7456045,10.4052644 11.1193111,10.0315578 11.6081128,10.0315578 L29.8069915,10.0315578 C30.2957932,10.0315578 30.6694998,10.4052644 30.6694998,10.8940661 L30.6694998,28.9205372 L30.6694998,28.9205372 Z M55.2173982,29.0069759 C55.2173982,29.4957775 54.8436916,29.8694841 54.3548899,29.8694841 L36.1560112,29.8694841 C35.6672095,29.8694841 35.293503,29.4957775 35.293503,29.0069759 L35.293503,10.9805049 C35.293503,10.4917032 35.6672095,10.1179966 36.1560112,10.1179966 L54.3548899,10.1179966 C54.8436916,10.1179966 55.2173982,10.4917032 55.2173982,10.9805049 L55.2173982,29.0069759 L55.2173982,29.0069759 Z M79.644537,29.0069759 C79.644537,29.4957775 79.2708304,29.8694841 78.7820287,29.8694841 L60.58315,29.8694841 C60.0943481,29.8694841 59.7206415,29.4957775 59.7206415,29.0069759 L59.7206415,10.9805049 C59.7206415,10.4917032 60.0943481,10.1179966 60.58315,10.1179966 L78.8109198,10.1179966 C79.2997215,10.1179966 79.6734283,10.4917032 79.6734283,10.9805049 L79.6734283,29.0069759 L79.644537,29.0069759 L79.644537,29.0069759 Z M85.3238232,29.9030726 C84.3751109,29.9030726 83.9014101,29.7774367 83.9014101,28.8382959 L83.9014101,11.7879977 C83.9014101,10.8488568 83.8194517,10.1515855 84.7681639,10.1515855 L96.1202782,10.1515855 C102.502887,10.1515855 109.661565,22.6171167 109.661565,25.8330753 C109.6618,28.9636999 108.885495,29.9030732 108.022987,29.9030732 L85.3238232,29.9030726 Z" id="Top-Frame"></path>
                                            </g>
                                        </g>
                                    </g>
                                </g>
                            </g>
                        </g>
                        <polygon id="Shape" fill="#F2FAF8" points="0 509.863 215.61 367.215 0 175.733"></polygon>
                        <polygon id="Shape" fill="#E6F0EE" points="512 509.863 295.665 367.858 512 175.733"></polygon>
                        <polygon id="Shape" fill="#D1E9E2" points="0 509.863 256 301.568 512 509.863"></polygon>
                        <polygon id="Shape" fill="#C3D9D2" points="256 509.863 256 301.568 512 509.863"></polygon>
                    </g>
                </g>
            </g>
        </svg>
        <h2>We've just sent you an invitation by mail. Enjoy!</h2>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

