<% videos.each_slice(2) do |vv| %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <% vv.each do |video| %>
          <div class="col-sm-6">
            <%= link_to post_path video.slug do %>
              <div class="video-thumbnail" style="background-image: url('https://img.youtube.com/vi/<%= video.youtube_slug %>/maxresdefault.jpg')">
                <div class="video-details">
                  <div class="catergory-items">
                    <%= render "shared/flags/#{video.locale}" %>
                    <ul>
                      <% video.labels.each do |tag| %>
                        <li><%= tag %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>