// Shared classes
.banner-container {
  @media (max-width: $screen-xs) {
    .container { padding: 0 }
    .banner    { border-radius: 0 }
  }
}

.banner {
  background-size: cover;
  color: white;
  position: relative;
  z-index: 0;
  padding: 150px;
  padding: 10px;
  background-color: white;
}

.banner h1 {
  font-size: 45px;
  margin-bottom: 30px;
  @media (max-width: $screen-md) { font-size: 38px }
  @media (max-width: $screen-sm) { font-size: 35px }
}
.banner p {
  font-size: 23px;
  margin: 0;
  text-align: center;
  padding: 20px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.95);
  @media (max-width: $screen-sm) {
    font-size: 19px;
  }
}

.banner-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  padding: 0px;
  background-position: center center;
  position: relative;
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;

  .banner-content {
    flex: 0 1 100%;;
  }
}

.banner-content {
  position: relative;
  z-index: 2;
}

// Specific background classes (gradient / flat color bg / etc..)

.banner-gradient {
  h1 {
    strong { animation: boxShadow 0.3s 1s cubic-bezier(0, 0, 0, 1.25) forwards }
    font-weight: 900;
    text-shadow: 2px 1px 3px rgba(0, 0, 0, 0.1);
    color: white;
    letter-spacing: -1px;
    font-size: 45px;
    margin-bottom: 10px;
  }
  .btn {
    padding: 12px 30px;
    border-radius: 3px;
    font-weight: $font-weight-bold;
    border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
    font-size: 16px;
  }
}

@keyframes boxShadow {
  0% {
    box-shadow: inset 0px 0 #D23333;
  }
  100% {
    box-shadow: inset 0px -18px #D23333;
  }
}

.banner-gradient-shadow {
  background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.5) 60%);
  position: absolute;
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  &.home {
    background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.1) 40%);
  }
}

.banner-flat {
  padding: 100px 0;
  .banner-flat-filter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0.95;
    &-green {
      background: green;
    }
    &-black {
      background: rgba(0, 0, 0, 0.65);
    }
  }
}

.banner-cta {
  display: flex;
  flex-wrap: wrap;
  @media(min-width: $screen-lg) {
    transform: translateY(-50%);
  }

  position: relative;
  z-index: 1;
  justify-content: center;

  a {
    margin: 0 10px;
  }

  .btn-danger {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    border: none;
    background-color: #D23333;
    border-radius: 4px;
    color: white;
    text-shadow: 0px 2px rgba(0, 0, 0, 0.15);

    &:hover {
      color: white;
      background: #C22F2F;
    }

    &:focus { outline: 0 }
  }
}

.banner-cta-item {
  color: #7C7C7C;
  display: flex;
  @media(max-width: $screen-sm-max) {
    flex-grow: 1;
  }
  font-weight: $font-weight-bold;
  align-items: center;
  padding: 20px 30px;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  justify-content: center;
  background: white;

  span {
    padding-left: 6px;

    @media (max-width: $screen-xs) {
      display: none;
    }
  }

  &:hover {
    color: black;
    text-decoration: none;
  }
}
@media(max-width: $screen-md) {
  .banner-cta a {
    margin-top: 10px;
    margin-left: 0px;
  }
  .banner-cta .btn-danger {
    margin-right: 0px;
  }
}

