.faq-nav {
  margin: auto;

  a, a:hover {
    text-decoration: none;
  }

  a {
    opacity: 0.4;
  }

  svg {
    width: 30px;
    margin: 10px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  }

  a:hover {
    opacity: 1;
  }

  a.active {
    opacity: 0.9;
  }
}

.card-faqs {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  margin: auto;
  padding-bottom: 50px;
}

.card-faq-container {
  flex: 0 0 100%;
}

.card-faq-question {
  font-size: 24px;
  line-height: 1.1;
  font-weight: 900;
  padding-bottom: 10px;
  margin-top: 20px;
  letter-spacing: -2px;

  @media (max-width: $screen-sm) {
    margin-top: 10px;
    letter-spacing: -1px;
  }
}

.card-faq-answer {
  font-size: 18px;
  font-weight: 200;

  a {
    @extend .link;
    height: 25px;
  }
}
