.city-blog-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 80px;
  min-height: 360px;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 4px 16px -2px rgba(0,0,0,.1), 0 0 0 1px rgba(0,0,0,.02);

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  h2 {
    max-width: 740px;
    padding: 0 20px;
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: left;
    letter-spacing: -1px;
    text-shadow: 0px 2px 0px rgba(0,0,0,0.15);

    @media (max-width: 768px) {
      font-size: 2em;
    }
  }

  .written-by {
    padding: 0 25px;
    max-width: 748px;
    width: 100%;
    text-align: left;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.4em;
    color: white;
    opacity: 1;

    @media (max-width: 768px) {
      margin: 0 auto;
      max-width: 740px;
      width: auto;
    }

    @media (max-width: 520px) {
      margin: 0;
      width: 100%;
      text-align: left;
    }

    img {
      margin: 0 10px 0 0;
      height: 40px;
      width: 40px;
      border-radius: 50%;

      @media (max-width: 520px) {
        display: none;
      }
    }
  }
}