.dropdown-cities {
  left: 0 !important;
  position: fixed !important;
  background: #f9f9f9 !important;
  top: 128px !important;
}
.dropdown-cities-container {
  display: flex;
  justify-content: center;
  ul {
    padding: 10px 70px;
    font-size: 13px;
    line-height: 25px;
    li {
      padding: 2px 0px;
    }
    a {
      font-size: 17px;
      color: #464343;
      font-weight: lighter;
    }
    .title {
      font-weight: bolder;
      font-size: 17px;
      margin-bottom: 5px;
      color: black;
      text-transform: uppercase;
      svg {
        height: 16px;
        margin-left: 5px;
        margin-bottom: -2px;
      }
    }
  }
}
.dropdown-program {
  left: 0 !important;
  top: 48px !important;
  width: 300px;
}
