.dropdown-cities {
  left: 0 !important;
  position: fixed !important;
  background: #f9f9f9 !important;
  top: 128px !important;
}
.dropdown-cities-container {
  display: flex;
  justify-content: center;
  ul {
    padding: 10px 50px;
    font-size: 13px;
    line-height: 25px;
    li {
      padding: 2px 0px;
    }
    a {
      font-size: 17px;
      color: #464343;
      font-weight: lighter;
    }
    .title {
      font-weight: bolder;
      font-size: 17px;
      margin-bottom: 5px;
      color: black;
      text-transform: uppercase;
      svg {
        height: 16px;
        margin-left: 5px;
        margin-bottom: -2px;
      }
    }
  }

  .cta-enterprise {
    font-weight: 700;
    font-size: 17px;
    color: black;
    padding: 15px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    margin-top: 0px;
    display: inline-block;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    opacity: 0.7;
    background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
    &:hover {
      text-decoration: none;
      opacity: 1;
    }
    &.red {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
      border: none;
      background: #D23333;
      opacity: 1;
      border-radius: 4px;
      color: white;
      text-shadow: 0px 2px rgba(0, 0, 0, 0.15);
      &:hover {
        background: #C22F2F;
      }
    }
  }
}
.dropdown-program {
  left: 0 !important;
  top: 48px !important;
  width: 300px;
}
