.features-wrapper {
  background-color: #F4F4F4;
  padding-bottom: 100px;

  &.up {
    position: relative;
    margin-top: -230px;
    padding-top: 200px;
  }
}

.feature-container {
  display: flex;

  &.has-equal-columns {
    .feature { flex: 1 }
  }
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-top: -20px;
}

.feature {
  padding: 40px;
  flex: 0 0 33%;
  padding-bottom: 0;

  @media (max-width: $screen-md) {
    flex: 0 0 50%;
    padding: 30px 20px;
  }

  @media (max-width: $screen-sm) {
    flex: 0 0 100%;
  }
}

.feature-header {
  display: flex;
  padding-bottom: 20px;
  align-items: center;

  i {
    font-size: 20px;
    margin-right: 10px;
  }
}

.feature-title {
  font-size: 18px;
  margin: 0px;
}


.feature-body { font-weight: $font-weight-light }


@media (max-width: 768px) {
  .module.feature {
    background: transparent !important;
    box-shadow: none !important;
  }
}
