.map-container {
  background-color: whitesmoke;
  padding-bottom: 100px;

  #map {
    height: 60vh;
    margin: 0 100px;
    border-radius: 5px;

    @media(max-width: $screen-sm) {
      border-radius: 0;
      margin: 0;
    }
  }
}
