.story-overlay {
  background: #F4F4F4;
  overflow: hidden;
  position: relative;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  padding: 50px 0;

  @media (max-width: $screen-md) {
    // box-shadow: inset 0 0px 2px 0 rgba(0, 0, 0, 0.12);
    min-height: auto;
    border-top: 5px solid white;

  }

  &:after {
    background: linear-gradient(left, rgba(0, 0, 0, 0.6), rgba(0,0,0,0.3) 73%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    content: '';

    @media (max-width: $screen-md) {
      background: none;
    }
  }

  .container {
    position: relative;
    z-index: 9;
  }
}

.story {
  display: flex;
  max-width: 500px;
  margin-top: 20px;
  @media (max-width: $screen-sm) {
    flex-wrap: wrap;
  }
}
@media (max-width: $screen-md) {
  .story {
    max-width: 768px;
  }
}

.story-list {
  flex: 1;
  @media (max-width: $screen-sm) {
    flex: 0 0 100%;
  }
  .story-card-title {
    font-weight: 600;
    line-height: 1.1;
    font-size: 20px;
    letter-spacing: -1px;
  }
  .story-card-summary {
    font-size: 15px;
  }
  .story-user-avatar img{
    width: 45px;
  }
  .story-user-batch {
    font-size: 14px;
  }
  .story-user-name {
    font-weight: 300;
  }
  .story-link {
    position: absolute;
    right: 30px;
    bottom: 25px;
    color: $blue;
    i {
      margin-left: 5px;
    }
  }
}
.stories-link {
  line-height: 50px;
  width: 100%;
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  background: transparent;
  border: 1px solid white;
  color: white;
  opacity: 0.9;
  &:hover {
    opacity: 1;
    color: white;
  }
}

.story-detail {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 0;
  opacity: 1;
  // transition: .5s ease opacity, .5s transform ease;
  top: 0;
  display: none;
  @media (max-width: $screen-sm) {
    margin-left: 0;
  }

  &.is-active { display: block }
  &.is-exiting {
    display: block;
    z-index: 3;
    transform: scale(1.05);
    opacity: 0;
  }
}

.story-item {
  padding: 40px;
  cursor: pointer;
  border: 1px solid transparent;
  position: relative;
  @media (max-width: $screen-md) {
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.12);
    border: none;
    margin-top: 20px;
    background: white !important;
  }
  @media (max-width: $screen-sm) {
    padding: 20px;
    background: white !important;
    border: none;
  }

  &.is-active {
    background-color: white;
    box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.12);

    @media (max-width: $screen-sm) {
      background-color: transparent;
      border: none;
    }

    .story-item-description { color: #595959 }
    .story-item-batch { color: #989898 }
    .story-item-name { color: black }
  }
}

.story-item-name {
  font-size: 25px;
  font-weight: $font-weight-bold;
  color: white;

  @media (max-width: $screen-md) { color: black }
}

.story-item-batch {
  font-size: 14px;
  line-height: 35px;
  color: white;
  font-weight: initial;

  @media (max-width: $screen-md) { color: black }
}

.story-item-description {
  font-size: 18px;
  color: white;
  font-weight: $font-weight-light;
  padding-top: 10px;

  @media (max-width: $screen-md) { color: black }
}

.story-detail-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 130%;
  border-radius: 4px;
  background-position: center center !important;
  // box-shadow: inset 0px -71px 37px -17px #f4f4f4;

  @media (max-width: $screen-sm) {
    left: 0;
    width: 100%;
    height: 400px;
    background-size: cover;
  }
}

// .story-detail-extended {
//   height: 200px;
//   width: 200px;
//   background-size: cover;
//   background-position: 54% 36%;
//   border-radius: 50%;
//   position: absolute;
//   border: 6px solid white;
//   box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.12);
//   transform: translateX(-50%) translateY(20%);
// }

.latest-projects-overlay {
  background: #F4F4F4;
}

.story-label {
  position: relative;
  top: 0;
  left: 10px;
  height: 80px;
  width: 80px;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.25);
  background: $green;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  transform: translateY(-53%) rotate(45deg);
  border-radius: 10px;
  text-transform: uppercase;
  z-index: 99;

  &.yellow {
    background: #f1c40f;
  }

  i {
    color: white;
    position: relative;
    top: 16px;
    left: 16px;
    font-size: 16px;
    transform: rotate(-45deg);

  }

  &-container {
    position: absolute !important;
    left: 0;
    display: flex;
    right: 0;
    top: 0;

    span {
      color: white;
      z-index: 99;
      margin: 10px;
      margin-left: 30px;
      font-size: 28px;
      letter-spacing: 1px;
      font-weight: bold;

      @media (max-width: $screen-md) {
        color: #C1C1C1;
      }
    }
    .story-label-subtitle {
      margin: 0;
      font-size: 20px;
      font-weight: 100;
      letter-spacing: 0px;
    }
  }
}
.story-label-container-program {
  padding-left: 50px;
}
@media (max-width: $screen-md) {
  .stories-title {
    margin: 0 auto !important;
    margin-top: 30px !important;
  }
  .story-label-container span {
    margin-left: 0px;
    font-size: 22px;
  }
}
.stories-title {
  margin-top: 20px;
}
.story-item-batch {
  height: 25px;
  opacity: 0.9;
}
.story-company-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.story-banner {
  min-height: 500px;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 100px;
  margin-top: -130px;
  z-index: 0;
  .filter {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    align-items: flex-end;
    background-size: cover !important;
    background-position: center 100px !important;
  }
  .story-company-logo {
    display: none;
  }
}
.story-banner-content {
  @media (max-width: $screen-sm) {
    padding-left: 10px;
  }
  position: relative;
  z-index: 9999;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);

  h2 {
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 25px;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.15);
  }
  @media (max-width: $screen-sm) {
    h2 {
      font-size: 30px;
    }
  }
}
.story-container {
  max-width: 768px;
  margin: 0 auto;
  width: 100%;
}

.story-banner-user {
  display: flex;
  align-items: center;

  .story-company-logo {
    width: 80px;
    flex-shrink: 1;
    margin-left: auto;
  }
}

.story-user-avatar img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.story-banner-infos {
  text-align: left;
  margin-left: 10px;
}

.story-user-batch {
  opacity: .7;
}

.story-body {
  font-size: 24px;
  font-weight: 300;
  margin: 50px auto;
  line-height: 1.4;
  @media (max-width: $screen-sm) { padding: 10px }
}

.story-company {
  text-align: center;
  img {
    max-height: 200px;
    max-width: 200px;
    margin-bottom: 40px;
  }
}

.stories-container {
  background: #F4F4F4;
  padding-top: 50px;
}

.story-card {
  display: flex;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  position: relative;
  margin-top: 20px;
  .fa-arrow-right {
    transition: all 0.3s ease;
  }

  &:hover {
    cursor: pointer;
    .background  {
      transform: scale(1.05);
    }
    .fa-arrow-right {
      transform: translateX(3px);
    }
  }

  @media (max-width: $screen-sm) { flex-flow: column }

  .story-banner-user {
    margin-top: 10px;
    display: flex;
    border-top: 1px solid #EAEAEA;
    padding: 0;
  }
  main {
    flex: 1;
    @media (max-width: $screen-sm) { order: 2 }
    padding: 30px;
    padding-bottom: 10px;
  }
  aside {
    @media (max-width: $screen-sm) { order: 1 }
    position: relative;
    flex: 0 0 240px;
    overflow: hidden;
    .background {
      transition: all ease 0.3s;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-size: cover;
      background-position: 75% 100%;
      background-color: rgba(144, 64, 64, 0.34);
    }
  }
}

.story-card-title {
  font-size: 27px;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -2px;
}

.story-card-summary {
  font-size: 16px;
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: 100;
  opacity: .7;
}

.popular-stories {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #E1E1E1;
  padding: 0;
  padding-bottom: 25px;
  margin-bottom: 25px;
}

.story-card-link {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}


.story-summary {
  font-size: 22px;
}

.story-description {
  margin-top: 50px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 100;
  color: #333333;

  img {
    width: 100%;
  }
  a {
    color: $blue !important;
    &:hover {
      color: $blue !important;
    }
  }
  h1, h2, h3 {
    font-size: 23px;
    font-weight: normal;
    margin: 50px 0 30px 0;
    color: black;
  }

  h3.last {
    font-weight: 700 !important;
  }

  p {
    margin-bottom: 50px;
  }
  p:last-child {
    margin-top: -22px;
    font-size: 17px;
    font-weight: 100;
    color: #9E9E9E;
  }

  blockquote {
    font-size: 17px;
    p {
      margin: 10px !important;
    }
  }
}
.story-card-cover-link {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  right: 0;
}
