.testimonials-wrapper {
  background: white;
  padding: 60px 0 0;

  .section-title-home-content {
    display: flex;
    flex-direction: column;
  }
}

.testimonials {
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;
}

.testimonial-container {
  display: flex;
  flex-flow: column;
  padding: 15px;
  background-size: cover;
  flex: 0 0 25%;

  @media (max-width: $screen-md) { flex: 0 0 50% }
  @media (max-width: $screen-xs) { flex: 0 0 100% }
}

.testimonial {
  flex: 1;
  background: white;
  border-radius: 3px;
  overflow: hidden;
  min-height: 250px;
  display: flex;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  position: relative;

  .green-quote {
    background: #D23333;
    color: white;
    height: 40px;
    width: 40px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: -22px;
    padding-top: 7px;
    border-radius: 5px;
    left: 13px;
    transform: rotate(45deg);

    i {
      position: relative;
      left: 8px;
      top: 5px;
      transform: rotate(-45deg);
    }
  }
}

.testimonial-body {
  position: relative;
  flex-flow: column;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  padding: 30px 0;
  padding-top: 30px;
  font-weight: lighter;
  color: #747070;
  flex: 1;
}
.testimonial-footer {
  margin-top: auto;
}

.testimonial-user {
  display: flex;
  align-items: center;
  padding: 10px 15px;

  &-name {
    font-size: 16px;
    font-weight: bold;
  }

  &-batch {
    opacity: .7;
    font-weight: 100;
    font-size: 14px;
  }

  &-info {
    margin-left: 10px;
  }
  img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
  }
}

@media (max-width: 768px) {
  .testimonials {
    margin: 0 30px;
  }
}

.testimonials-blogs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
  h3 {
    font-size: 21px;
    font-weight: 700;
    color: #4C4C4C;
  }
  img {
    margin: 5px;
  }
}
.testimonials-blog img{
  height: 60px;
  filter: grayscale(100%);
  opacity: 0.7;
  transition: all 0.3s ease;
  &:hover {
    opacity: 1;
    filter: grayscale(0%);
  }
}

/******************************************************************************/
/* TESTIMONIALS - NEW */
/******************************************************************************/

.testimonials-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 80px;
  width: 100%;
  min-height: 150px;

  h2 {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 100%;
      max-width: 1140px;
      margin: 40px auto 55px;
      font-size: 30px;
      font-weight: 900;
      text-align: center;
      background-color: #fff;
    }

  .services-logos {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1140px;

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }


    a {
      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        justify-content: center;
        width: 50%;
      }

      &:nth-child(odd) {
        @media (max-width: 767px) {
          display: none;
        }

        img {
          height: 60px;
        }
      }
    }

    img {
      height: 90px;
      opacity: 0.5;
      transition: all 0.3s ease;

      @media (max-width: 767px) {
        opacity: 1;
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.students-index {
  .testimonials-wrapper {
    padding-top: 125px;
  }

  .quote-overlay,
  .quote-background {
    background-color: #DF694E;

    .quote {
      color: #000;
      border-bottom: 1px solid #000;
    }
  }
}


.testimonials-wrapper {

  h2 {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    background-color: #fff;
  }

  .quotes-icon {
    position: relative;
    margin: 55px 0 85px 0px;
    left: 50%;
    transform: translateX(-50%);
  }

  .testimonials-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;

    .read-more {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
    }

    .testimonial-card {
      position: relative;
      padding: 0 40px;

      @media (max-width: 767px) {
        width: 100%;
        padding: 0 20px;
        margin-top: 70px;

        &:not(:last-of-type) {
          margin-bottom: 60px;
        }
      }

      .testimonial-body {
        position: relative;
        padding-left: 115px;
        margin-bottom: 30px;
        min-height: 185px;
        background-color: white;
        border-radius: 8px;

        @media (max-width: 767px) {
          padding: 85px 28px 28px 28px;
        }

        @media (max-width: 420px) {
          padding: 85px 0 28px 0;
        }

        .alumni-picture {
          position: absolute;
          width: 115px;
          height: 115px;
          top: 90px;
          left: -40px;
          transform: translateY(-50%);
          border-radius: 50%;
          border: 3px solid white;
          box-shadow: 0 2px 26px 0 rgba(0,0,0,0.2);
          z-index: 10;

          @media (max-width: 767px) {
            top: 0;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
          }
        }

        .testimonial-content {
          .read-more-text {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;

            @media (max-width: 767px) {
              display: block;
            }

            &:hover {
              text-decoration: none;
              color: black;
            }
          }
        }

        .testimonial-author {
          .testimonial-user-name {
            margin-top: 15px;
          }
        }
      }
    }
  }
}

/******************************************************************************/
/* TESTIMONIALS - MODAL */
/******************************************************************************/


  .modal-testimonial {
    width: 700px;
    margin: 30px auto;

    @media (max-width: 767px) {
      width: 100%;
      margin: inherit;
    }

    .modal-header {
      height: 220px;
      background-size: cover;
      background-position: center center;
      border-bottom: none;
    }

    .modal-content {
      border: none;
      box-shadow: none;

      .alumni-profil {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: -85px;
        margin-bottom: -80px;

        .alumni-picture {
          width: 140px;
          height: 140px;
          border-radius: 50%;
          border: 3px solid white;
          box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.2);
        }

        .alumni-details {
          width: 100%;
          text-align: center;

          span {
            opacity: 0.6;
          }

          .linkedin svg {
            width: 22px;
            height: 22px;
            vertical-align: -2px;
            #background {
              fill: #444;
              transition: fill .3s ease;
            }
          }
          .linkedin:hover svg {
            #background {
              fill: #0071A1;
              transition: fill .3s ease;
            }
          }
        }

        h4 {
          margin-top: 20px;
          font-weight: 600;
          font-size: 26px;
        }
      }

      .alumni-timeline {
        position: relative;
        padding: 55px 0 0;

        &:after {
          content: "";
          position: absolute;
          top: 57px;
          height: 1px;
          width: 100%;
          background-color: #e0e0e0;
        }

        .alumni-job-position {
          position: absolute;
          width: 100%;
          top: 15px;
          left: 50%;
          transform: translateX(-50%);
          font-style: italic;

          @media(max-width: 520px) {
            font-size: 10px
          }
        }

        .marker-before {
          position: relative;

          &:before {
            content: "Before";
            position: absolute;
            width: 100%;
            top: -20px;
            transform: translateX(-50%);
            font-size: 14px;
            opacity: 0.6;
          }

          &.fr:before { content: "Avant"; }
          &.en:before { content: "Before"; }
          &.es:before { content: "Before"; }
          &.pt_BR:before { content: "Before"; }
          &.zh-CN:before { content: "Before"; }

        }

        .lewagon {
          text-align: center;

          svg {
            position: relative;
            top: -18px;
            width: 40px;
            height: 40px;
            z-index: 1;
          }
        }

        .marker-after {
          position: relative;

          &:before {
            content: "Now";
            position: absolute;
            width: 100%;
            top: -20px;
            transform: translateX(-50%);
            font-size: 14px;
            opacity: 0.6;
          }

          &.fr:before { content: "Maintenant"; }
          &.en:before { content: "Now"; }
          &.es:before { content: "Now"; }
          &.pt_BR:before { content: "Now"; }
          &.zh-CN:before { content: "Now"; }

        }

        .marker-before,
        .marker-after {
          position: relative;
          text-align: center;

          &:after {
            content: "";
            position: absolute;
            top: 0;
            height: 5px;
            width: 5px;
            border-radius: 50%;
            background-color: #e0e0e0;
          }
        }
      }

      .alumni-content {
        padding-top: 55px;
      }

      i {
        margin-bottom: 20px;
        font-size: 14px;
        font-style: normal;
      }

      p {
        margin-top: 20px;
        font-weight: lighter;
        color: #747070;
      }
    }

    .modal-footer {
      position: relative;
      border-top: none;
      padding: 0;
      overflow: hidden;

      a:hover {
        text-decoration: none;
        color: inherit;
      }

      &:before {
        content: '';
        width: 100%;
        height: 660px;
        z-index: 2;
        background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
        transform-origin: left bottom;
        position: absolute;
        top: 220px;
        left: 0;
        transform: skew(0deg, -15deg);
      }

      &:after {
        content: '';
        width: 100%;
        height: 740px;
        z-index: 1;
        background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
        transform-origin: right bottom;
        position: absolute;
        top: 168px;
        left: 0;
        transform: skew(0deg, 9deg);
        opacity: 0.4;
      }

      .alumni-product-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 3;

        h4 {
          font-weight: 600;
          margin-bottom: 17px;

          @media(max-width: 767px) {
            text-align: center;
          }
        }

        .video-thumbnail {
          margin: 10px auto 0;
          width: 320px;
          height: 167px;
          border-radius: 2px 2px 0 0;
        }

        .video-details {
          position: relative;
          padding: 5px;
          top: -5px;
          border-radius: 0 0 2px 2px;

          h4 {
            display: flex;
            flex-direction: column;
            align-items: center;

            small {
              margin-top: 10px;
              font-weight: 100;
            }
          }
        }
      }
    }
  }

