.wagon-map-overlay {
  width: 100%;
  display: block;
  align-items: center;
  margin: auto;
  max-height: 500px;

  svg {
    filter: drop-shadow(0 1px 2px rgba(0,0,0,0.07));
    -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,0.07));
    -moz-filter: drop-shadow(0 1px 2px rgba(0,0,0,0.07));
  }
  path, rect {
    fill: white;
  }
}


.wagon-map {
  position: relative;
  padding-top: 50px;
  @media (max-width: $screen-sm) {
    position: relative;
    margin-top: -150px;
    padding-top: 0;
  }
}

