// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'slick';
@import 'slick-theme';
.slick-dots { position: relative !important; } // Bug fix

@import "glitch";
$mdi-font-path: 'mdi/fonts';
@import "mdi";
@import "devicons";
@import 'awwward';

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";
