<div class="modal-form-body">
  <div class="banner-modal-wrapper">
    <div class="banner-modal banner banner-top banner-gradient text-center is-active" style="background-image:url('/assets/banners/banner-program.jpg');">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1 class="glitch">
          <span><%= t("pages.program.syllabus_modal_title_part_1", default: "Get our full") %></span>
          <span class="underlined"><%= t("pages.program.syllabus_modal_title_part_2", default: "Syllabus") %></span>
        </h1>
      </div>
    </div>
  </div>
  <div class="modal-form-rows-container">
    <%= render 'prospects/syllabus/form', prospect: prospect %>
  </div>
</div>
