<!DOCTYPE html>
<html >
<head>
  <title>Le Wagon - Back Office</title>
  <meta charset="utf-8" />
  <link rel="icon" href="<%= image_path 'favicon.png' %>" type="image/png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>
